@(message: String, u: models.response.user.User, albumId: Long)
@import tags._
@main("Patient") {
<div id="wrapper" class="container_12 clearfix">
    <!-- Header -->
    @header(u)
    <div class="container">
        <header>
            @if(!u.getUserType().toUpperCase().equals("DOCTOR")) {
            <h1><span>MRI SCAN</span> SELECT FILES</h1>
            } else {
            <h1><!--<span></span>--> Patient Details</h1>
            }
        </header>
        <div class="form" style="width:100%;background: #f1f1f1;border-radius: 10px;">
            <form id="patientForm" name="patientForm" method="post" action="@controllers.patient.routes.PatientController.stepTwo()" data-uri="@controllers.patient.routes.PatientController.save(0)" enctype="multipart/form-data" accept-charset="utf-8">
                <div class="box message" style="display:none;padding-top: 2%;padding-left: 1%;padding-bottom: 2%;color: red;">
                    <div class="content-m">
                        <p></p>
                    </div>
                </div>
                <input type="hidden" value="@albumId" name="albumId" id="albumId"/>
                <table cellspacing="5" cellpadding="5" style="clear: both;float: left;">
                    <br/>
                    <tr>
                        <td colspan="2">
                            <div class="fileContent" style="width:180px;border:2px solid white;padding:10px;overflow:hidden;">
                                <label for="dicomToJpegFC">
                                    <img src='@routes.Assets.at("images/up.ico")' style="margin-right:15px;float:left;height:30%;width:10%;cursor:pointer;"/>
                                    <h3 style="float:left;font-size:17px;width:80%;cursor:pointer;">Select Files</h3>
                                </label>
                                <input type="file" style="display:none;" name="dicomToJpegFC" id="dicomToJpegFC" multiple="multiple" accept="*" class="multi" onChange="makeFileList();">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><ul id="fileList"><li></li></ul></td>
                    </tr>
                    <tr>
                        <td><button class="button" name="submit" id="submit" value="Save">Next</button></td>
                        <td><img src='@routes.Assets.at("images/loader.gif")' id="loader-a" style="display:none;"/></td>
                    </tr>
                    <tr>
                        <td><div id="progressbar" style="width: 300px;height: 20px;"></div></td>
                        <td><div id="percentage" style="vertical-align: middle;">0%</div></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <!-- Footer -->
    @footer()
</div>
} {
<script type="text/javascript" src="@routes.Assets.at("javascripts/patient/stepTwo/events.js")"></script>
<script type="text/javascript">
    function validate() {
    $check = true;
    var files1,files2;
    $(".multi").each(function(){
    files1 = $(this).val();
    });

    $(".multi2").each(function(){
    files2 = $(this).val();
    });

    if(files1==''&&files2=='') {
    alert("No document file selected");
    $check = false;
    }


    $('#patientForm').validate({
    rules: {
    doctorIds: {
    required: true

    }
    },
    messages: {
    doctorIds: {
    minlength: $.format('Please select at least {0} things.')
    }
    }
    });

    return $check;
    }
</script>

<script type="text/javascript">
    function makeFileList() {
    var input = document.getElementById("dicomToJpegFC");
    var ul = document.getElementById("fileList");
    while (ul.hasChildNodes()) {
    ul.removeChild(ul.firstChild);
    }
    for (var i = 0; i < input.files.length; i++) {
    var li = document.createElement("li");
    li.innerHTML = input.files[i].name;
    ul.appendChild(li);
    }
    if(!ul.hasChildNodes()) {
    var li = document.createElement("li");
    li.innerHTML = 'No Files Selected';
    ul.appendChild(li);
    }
    }
</script>
}