@(message: String, u: models.response.user.User, user: List[models.user.User], review: models.review.Review, mriComment: String)
@import tags._
@import java.math.BigInteger; var i=1;
@main("Patient") {
<div id="wrapper" class="container_12 clearfix">
    <!-- Text Logo -->
    @header(u)

    <div class="container">
        <header>
            @if(!u.getUserType().toUpperCase().equals("DOCTOR")) {
            <h1><span>MRI SCAN</span> ENTER PATIENT DETAILS</h1>
            } else {
            <h1><!--<span></span>--> Patient Details</h1>
            }
        </header>
        <div class="form" style="width:100%;background: #f1f1f1;border-radius: 10px;">
                <form onsubmit="return validate()" id="patientForm" name="patientForm" method="post" action="" data-uri="">
                    <table cellspacing="5" cellpadding="5" style="clear: both;float: left;">
                    <tr>
                        @if(review.getAlbum() != null && review.getAlbum().getPatient() != null && review.getAlbum().getPatient().getId() != null) {
                            <td><input type="hidden" id="id" name="id" value="@review.getAlbum().getPatient().getId()"></td>
                        } else {
                            <td><input type="hidden" id="id" name="id"></td>
                        }
                        @if(review != null) {
                            <td><input type="hidden" id="reviewId" name="reviewId" value="@review.getId()"></td>
                        }
                    </tr>
                    <tr>
                        <td><p class="contact"><label for="fullName">Patient Name :</label></p></td>
                        @if(review.getAlbum() != null && review.getAlbum().getPatient() != null && review.getAlbum().getPatient().getFullName() != null) {
                            @if(!u.getUserType().toUpperCase().equals("DOCTOR")) {
                                <td><input id="fullName" name="fullName" placeholder="First and last name" value="@review.getAlbum().getPatient().getFullName()" required="" type="text"></td>

                             } else {
                                <td><input id="fullName" name="fullName" placeholder="First and last name" value="@review.getAlbum().getPatient().getFullName()" required="" type="text" disabled></td>
                             }
                        } else {
                            <td><input id="fullName" name="fullName" placeholder="First and last name" required="" type="text"></td>
                        }
                        <td><p class="contact"><label for="age">Age : </label></p></td>
                        @if(review.getAlbum() != null && review.getAlbum().getPatient() != null && review.getAlbum().getPatient().getAge() != null) {
                            @if(u.getUserType().toUpperCase().equals("DOCTOR")) {
                                <td><input id="age" name="age" placeholder="Age" required="" value="@review.getAlbum().getPatient().getAge()" type="number" style="width: 50px;" disabled></td>
                            } else {
                                <td><input id="age" name="age" placeholder="Age" required="" value="@review.getAlbum().getPatient().getAge()" type="number" style="width: 50px;"></td>
                                }
                        } else {
                        <td><input id="age" name="age" placeholder="Age" required="" type="number" style="width: 50px;"></td>
                        }
                    </tr>
                    <tr>
                        <td><p class="contact"><label for="email">Email :</label></p></td>
                        @if(review.getAlbum() != null && review.getAlbum().getPatient() != null && review.getAlbum().getPatient().getEmail() != null) {
                            @if(u.getUserType().toUpperCase().equals("DOCTOR")) {
                                <td><input id="email" name="email" placeholder="example@@domain.com" value="@review.getAlbum().getPatient().getEmail()" required="" type="email" disabled></td>
                            } else {
                                <td><input id="email" name="email" placeholder="example@@domain.com" value="@review.getAlbum().getPatient().getEmail()" required="" type="email"></td>
                            }
                        } else {
                        <td><input id="email" name="email" placeholder="example@@domain.com" required="" type="email"></td>
                        }
                        <td><p class="contact"><label for="gender">Gender:</label></p></td>
                        <td><select class="select-style gender" required="required" name="gender" style="width: 130px;">
                            @if(review.getAlbum() != null && review.getAlbum().getPatient() != null && review.getAlbum().getPatient().getGender().name().toUpperCase() == "MALE"){
                                @if(u.getUserType().toUpperCase().equals("DOCTOR")) {
                                    <option value="MALE" selected="selected" disabled>MALE</option>
                                    <option value="FEMALE" >FEMALE</option>
                                } else {
                                    <option value="MALE" selected="selected">MALE</option>
                                    <option value="FEMALE" >FEMALE</option>
                                }
                            }
                            @if(review.getAlbum() != null && review.getAlbum().getPatient() != null && review.getAlbum().getPatient().getGender().name().toUpperCase() == "FEMALE"){
                                @if(u.getUserType().toUpperCase().equals("DOCTOR")) {
                                    <option value="MALE" >MALE</option>
                                    <option value="FEMALE" selected="selected" disabled>FEMALE</option>
                                } else {
                                    <option value="MALE" >MALE</option>
                                    <option value="FEMALE" selected="selected">FEMALE</option>
                                }
                            }
                            @if(review.getAlbum() == null || review.getAlbum().getPatient() == null || review.getAlbum().getPatient().getGender() == null) {
                                <option value="MALE" >MALE</option>
                                <option value="FEMALE">FEMALE</option>
                            }
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td><p class="contact"><label for="comment">MRI SCAN Comments :</label></p></td>
                        @if(!mriComment.equals("")) {
                        @if(u.getUserType().toUpperCase().equals("DOCTOR")) {
                             <td colspan="5"><input type="textarea" id="comment" name="comment" value="@mriComment" placeholder="Please enter your comments"  rows="4" cols="50" disabled/></td>
                        }  else {
                        <td colspan="5"><input type="textarea" id="comment" name="comment" value="@mriComment" placeholder="Please enter your comments"  rows="4" cols="50"/></td>
                        }
                        } else {
                            <td colspan="5"><input type="textarea" id="comment" name="comment" value="" placeholder="Please enter your comments"  rows="4" cols="50"/></td>
                        }
                    </tr>


                    <tr>
                        @if(review.getAlbum() == null){
                        <td><p class="contact"><label for="doctorIds">Doctors:</label></p></td>
                        <td><select class="gender" name="doctorIds" id="doctorIds" multiple>
                             @for(u <- user) {
                                <option value='@u.getId()'>@u.getDisplayName()</option>
                             }
                            </select>
                        </td>
                        }
                        @if(!u.getUserType().toUpperCase().equals("DOCTOR")) {
                            <td><button class="button" name="submit" id="submit" value="Save">Upload</button></td>
                        }
                    </tr>
                    <tr>
                        @if(review.getAlbum() != null && review.getAlbum().getId() != null) {
                            <td colspan="4"><input type="hidden" id="albumId" name="albumId" value="@review.getAlbum().getId()">
                        } else {
                            <td colspan="4"><input type="hidden" id="albumId" name="albumId">
                        }
                        @if(review.getAlbum() != null && review.getAlbum().getImageList() != null && review.getAlbum().getImageList().size() > 0) {
                            @for(img <- review.getAlbum().getImageList()) {

                                @if(img.getImageUrl().toString() != null) {
                                    <p style="display: inline;"><a class="fancybox" rel="gallery1" href="@img.getImageUrl()" title="">
                                       <img src="@img.getImageUrl()" alt="" />
                                       </a>
                                    </p>
                                }
                            }
                        }
                        </td>
                    </tr>
                </table>
            </form>
            @if(u.getUserType().toUpperCase().equals("DOCTOR")) {
            <form id="commentForm" method="post" action="">
                <table style="display: inline;">
                    <tr>
                        <td colspan="3"><div class="box message" style="display:none;padding-top: 2%;padding-left: 1%;padding-bottom: 2%;color: red;">
                            <div class="content-m">
                                <p></p>
                            </div>
                        </div></td>
                    </tr>
                    <tr>
                        <input type="hidden" id="aId" name="aId" value="@review.getAlbum().getId()">
                        <input type="hidden" id="rId" name="rId" value="@review.getId()">
                        <td><p class="contact"><label for="comment">Doctor Comments :</label></p></td>
                        <td colspan="5"><input type="textarea" id="message" name="message" value="" placeholder="Please enter your comments" rows="4" cols="50"/></td>

                        <td><button class="button" name="submit" id="submit" value="Post Comment">Post Comment</button></td>
                        <td><img src='@routes.Assets.at("images/loader.gif")' id="loader-a" style="display:none;"/></td>
                    </tr>
                </table>
            </form>
            }



        </div>
        <div class="form" style="width: 100%;background: #f1f1f1;border-radius: 7px;margin-top: 35px;">
        <table style="clear: both;float: left;" cellspacing="0">
            <tr>
                <td>Doctor </td>
                <td>Comment</td>
            </tr>
            @if(review.getAlbum() != null && review.getAlbum().getCommentList().size() > 0) {
            @for(cmt <- review.getAlbum().getCommentList()) {
            @if(cmt.getCommentedBy().getUserType().name().equalsIgnoreCase("DOCTOR")){
            <tr>
                <td><strong>@cmt.getCommentedBy().getDisplayName()</strong></td>
                <td>@cmt.getMessage()</td>
            </tr>
            }
            }
            }
        </table>
        </div>

    </div>
    <!--<div class="hr grid_12 clearfix">&nbsp;</div>-->
    <!-- Footer -->
    @footer()
</div>
} {
        <!-- Add jQuery library -->
        <script src="@routes.Assets.at("javascripts/jquery-1.8.2.min.js")" type="text/javascript"></script>

        <!-- Add mousewheel plugin (this is optional) -->
        <script src="@routes.Assets.at("javascripts/jquery.mousewheel-3.0.6.pack.js")" type="text/javascript"></script>

        <!-- Add fancyBox main JS and CSS files -->
        <script src="@routes.Assets.at("javascripts/jquery.fancybox.js?v=2.1.3")" type="text/javascript"></script>

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery.fancybox.css?v=2.1.2")">
        <!-- Add Button helper (this is optional) -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery.fancybox-buttons.css?v=1.0.5")">
        <script src="@routes.Assets.at("javascripts/jquery.fancybox-buttons.js?v=1.0.5")" type="text/javascript"></script>

        <!-- Add Thumbnail helper (this is optional) -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery.fancybox-thumbs.css?v=1.0.7")">
        <script src="@routes.Assets.at("javascripts/jquery.fancybox-thumbs.js?v=1.0.7")" type="text/javascript"></script>
        <!-- Add Media helper (this is optional) -->
        <script src="@routes.Assets.at("javascripts/jquery.fancybox-media.js?v=1.0.5")" type="text/javascript"></script>

        <script type="text/javascript">
            function validate() {
                $check = true;
                var files1,files2;
                    $(".multi").each(function(){
                        files1 = $(this).val();
                    });

                    $(".multi2").each(function(){
                        files2 = $(this).val();
                    });

            if(files1 == '' && files2 == '') {
                        alert("No document file selected");
                        $check = false;
                    }


            $('#patientForm').validate({
            rules: {
            doctorIds: {
            required: true

            }
            },
            messages: {
            doctorIds: {
            minlength: $.format('Please select at least {0} things.')
            }
            }
            });

                return $check;
            }
        </script>

        <script type="text/javascript">
            $(document).ready(function() {
            /*
            *  Simple image gallery. Uses default settings
            */

            $('.fancybox').fancybox();

            /*
            *  Different effects
            */

            // Change title type, overlay closing speed
            $(".fancybox-effects-a").fancybox({
            helpers: {
            title : {
            type : 'outside'
            },
            overlay : {
            speedOut : 0
            }
            }
            });

            // Disable opening and closing animations, change title type
            $(".fancybox-effects-b").fancybox({
            openEffect  : 'none',
            closeEffect	: 'none',

            helpers : {
            title : {
            type : 'over'
            }
            }
            });

            // Set custom style, close if clicked, change title type and overlay color
            $(".fancybox-effects-c").fancybox({
            wrapCSS    : 'fancybox-custom',
            closeClick : true,

            openEffect : 'none',

            helpers : {
            title : {
            type : 'inside'
            },
            overlay : {
            css : {
            'background' : 'rgba(238,238,238,0.85)'
            }
            }
            }
            });

            // Remove padding, set opening and closing animations, close if clicked and disable overlay
            $(".fancybox-effects-d").fancybox({
            padding: 0,

            openEffect : 'elastic',
            openSpeed  : 150,

            closeEffect : 'elastic',
            closeSpeed  : 150,

            closeClick : true,

            helpers : {
            overlay : null
            }
            });

            /*
            *  Button helper. Disable animations, hide close button, change title type and content
            */

            $('.fancybox-buttons').fancybox({
            openEffect  : 'none',
            closeEffect : 'none',

            prevEffect : 'none',
            nextEffect : 'none',

            closeBtn  : false,

            helpers : {
            title : {
            type : 'inside'
            },
            buttons	: {}
            },

            afterLoad : function() {
            this.title = 'Image ' + (this.index + 1) + ' of ' + this.group.length + (this.title ? ' - ' + this.title : '');
            }
            });


            /*
            *  Thumbnail helper. Disable animations, hide close button, arrows and slide to next gallery item if clicked
            */

            $('.fancybox-thumbs').fancybox({
            prevEffect : 'none',
            nextEffect : 'none',

            closeBtn  : false,
            arrows    : false,
            nextClick : true,

            helpers : {
            thumbs : {
            width  : 50,
            height : 50
            }
            }
            });

            /*
            *  Media helper. Group items, disable animations, hide arrows, enable media and button helpers.
            */
            $('.fancybox-media')
            .attr('rel', 'media-gallery')
            .fancybox({
            openEffect : 'none',
            closeEffect : 'none',
            prevEffect : 'none',
            nextEffect : 'none',

            arrows : false,
            helpers : {
            media : {},
            buttons : {}
            }
            });

            /*
            *  Open manually
            */

            $("#fancybox-manual-a").click(function() {
            $.fancybox.open('1_b.jpg');
            });

            $("#fancybox-manual-b").click(function() {
            $.fancybox.open({
            href : 'iframe.html',
            type : 'iframe',
            padding : 5
            });
            });

            $("#fancybox-manual-c").click(function() {
            $.fancybox.open([
            {
            href : '1_b.jpg',
            title : 'My title'
            }, {
            href : '2_b.jpg',
            title : '2nd title'
            }, {
            href : '3_b.jpg'
            }
            ], {
            helpers : {
            thumbs : {
            width: 75,
            height: 50
            }
            }
            });
            });


            });
            $(document).ready(function() {
            $(".fancybox").fancybox({
            openEffect	: 'none',
            closeEffect	: 'none'
            });
            });

        </script>
        <style type="text/css">
            .fancybox-custom .fancybox-skin {
            box-shadow: 0 0 50px #222;
            }
        </style>
<script type="text/javascript" src="@routes.Assets.at("javascripts/patient/stepOne/events.js")"></script>
}