@(u: models.response.user.User)
<!--<h1 id="logo" class="grid_4">Telestroke</h1>-->
<!-- Navigation Menu -->
<div class="freshdesignweb-top">
<ul id="navigation" class="grid_18">
    @if(u.getUserType.equalsIgnoreCase("SUPER_USER")) {
    <li><a href=""><span class="meta">Change Login Screen Picture</span><br />
        Change</a></li>
    <li><a href="@controllers.user.routes.UserController.getUsers()"><span class="meta">New User?</span><br />
        Add</a></li>
    }
    <li><a href=""><span class="meta">Old patient data</span><br />
        Reviewed</a></li>
    <li><a href=""><span class="meta">Did not review patient ?</span><br />
        UnReviewed</a></li>
</ul>
<span class="right" style="font-size: 14PX;  font-family: fantasy;">
        <a href="@controllers.routes.AuthenticationController.logout()">LogOut</a>
</span>
<div class="hr grid_12 clearfix">&nbsp;</div>
<!-- freshdesignweb top bar -->

    <div class="clr"></div>
</div><!--/ freshdesignweb top bar -->