
@import tags._
@main("User") {
<div id="wrapper" class="container_12 clearfix">
<!-- Text Logo -->


<div class="container">
<header>
    <h1><!--<span>ADMIN</span>--> Genetic basis of stroke in an Indian population (www.brainsgenetics.com)</h1>

</header>
<div class="form" style="width:100%;background: #f1f1f1;border-radius: 10px;">
<form id="userForm" method="post" style="padding-top: 2%;" action="@controllers.user.routes.UserController.handleSave()" data-uri="@controllers.user.routes.UserController.save(0)">
<div class="box message" ><!--style="display:none;padding-top: 2%;padding-left: 1%;padding-bottom: 2%;color: red;"-->
    <div class="content-m">

    </div>
</div>
<table cellspacing="5" cellpadding="5" style="clear: both;float: left;"/>
<tr>
    <td colspan="2">Data Collection Form (DCF)</td>

    <td>Patient’s ID Number</td>
    <td><input type="text" id="patient_id" name="patient_id" value=""/></td>
</tr>
    <tr>
        <td>Economic Status</td>
        <td colspan="3">
            <table>
                <tr>
                    <td><input type="checkbox" name="bed" id="bed" value="Bed"  />(1) Bed</td>
                    <td><input type="checkbox" name="bed" id="Electricity" value="Electricity"  />(2) Electricity</td>
                    <td><input type="checkbox" name="Table" id="Table" value="Table" title="(3) Table" />(3) Table</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="Tiolet" id="Tiolet" value="Tiolet" title="(4) Tiolet" />(4) Tiolet</td>
                    <td><input type="checkbox" name=" Roofed house" id=" Roofed house" value=" Roofed house"  />(5) Roofed house</td>
                    <td><input type="checkbox" name="Water Filter" id="Water Filter" value="Water Filter"  />(6) Water Filter</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="Fan" id="Fan" value="Fan"  />(7)  Fan</td>
                    <td><input type="checkbox" name="Cooler" id="Cooler" value="Cooler"  />(8) Cooler</td>
                    <td><input type="checkbox" name="Cooking Gas" id="Cooking Gas" value="Cooking Gas"  />(9) Cooking Gas</td>

                </tr>

                <tr>
                    <td><input type="checkbox" name="T.V." id="T.V." value="T.V."  />(10)  T.V.</td>
                    <td><input type="checkbox" name="Phone" id="Phone" value="Phone"  />(11) Phone/Mobile</td>
                    <td><input type="checkbox" name="Scooter" id="Scooter" value="Scooter"  />(12) Scooter/Bike</td>
                </tr>

                <tr>
                    <td><input type="checkbox" name="Sofa Set" id="Sofa Set" value="Sofa Set"  />(13) Sofa Set</td>
                    <td><input type="checkbox" name="Curtain in windows" id="Curtain in windows" value="Curtain in windows"  />(14) Curtain in windows</td>
                    <td><input type="checkbox" name="Refrigerator" id="Refrigerator" value="Refrigerator"  />(15) Refrigerator</td>
                </tr>

                <tr>
                    <td><input type="checkbox" name="Mixer Grinder" id="Mixer Grinder" value="Mixer Grinder"  />(16) Mixer Grinder</td>
                    <td><input type="checkbox" name="Dining Table" id="Dining Table" value="Dining Table"  />(17) Dining Table</td>
                    <td><input type="checkbox" name="Toaster" id="Toaster" value="Toaster"  />(18) Toaster</td>
                </tr>

                <tr>
                    <td><input type="checkbox" name="Aqua guard" id="Aqua guard" value="Aqua guard"  />(19) Aqua guard</td>
                    <td><input type="checkbox" name="Microwave oven" id="Microwave oven" value="Microwave oven"  />(20) Microwave oven</td>
                    <td><input type="checkbox" name="Computer" id="Computer" value="Computer"  />(21) Computer</td>
                </tr>

                <tr>
                    <td><input type="checkbox" name="Geyser" id="Geyser" value="Geyser"  />(22) Geyser</td>
                    <td><input type="checkbox" name="R.O. Water Purifier System" id="R.O. Water Purifier System" value="R.O. Water Purifier System"  />(23) R.O. Water Purifier System</td>
                    <td><input type="checkbox" name="Car" id="Car" value="Car"  />(24) Car</td>
                </tr>

                <tr>
                    <td><input type="checkbox" name="A.C." id="A.C." value="A.C."  />(25) A.C.</td>

                </tr>
            </table>
        </td>

    </tr>
    <tr>
       <td colspan="4">
           <table>
               <tr>
                   <td>Hip </td>
                   <td><input type="text" name="hip" id="hip"/>cm</td>
                   <td>Height </td>
                   <td><input type="text" name="height" id="height"/>cm</td>
                   <td rowspan="2">BMI </td>
                   <td rowspan="2"><input type="text" name="bmi" id="bmi"></td>
               </tr>
               <tr>
                   <td>Waist </td>
                   <td><input type="text" name="waist" id="waist"/>cm</td>
                   <td>Weight </td>
                   <td><input type="text" name="weight" id="weight"/>kg</td>
               </tr>
           </table>
       </td>
    </tr>
    <tr>
        <td>Blood Sample</td>
        <td colspan="3">
            <table>
                <tr>
                    <td>Blood taken</td>
                    <td>
                        <select name="blood_taken" id="blood_taken">
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </td>
                    <td rowspan="2">Blood sample number=control identification number (local centre):  </td>
                    <td><input type="text" name="local_centre" id="local_centre" value=""></td>
                </tr>
                <tr>
                    <td>When:</td>
                    <td style="width: 299px;">
                        <input type="number" name="blood_sample_date" id="blood_sample_date" value="" style="width: 45px;"/>
                        <input type="number" name="blood_sample_month" id="blood_sample_month" value="" style="width: 45px;"/>
                        <input type="number" name="blood_sample_year" id="blood_sample_year" value="" style="width: 100px;"/>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
<tr>
    <td colspan="4"> <button id="save" name="save" type="submit">Next</button> </td>
</tr>

</table>
</form>

</div>
</div>
<!-- <div class="hr grid_12 clearfix">&nbsp;</div>-->
<!-- Footer -->
@footer()
</div>
} {
<script type="text/javascript" src="@routes.Assets.at("javascripts/user/events.js")"></script>
<style>
    .form input[type="text"]{
    width:80px;
    }
</style>
}