
@import tags._
@main("User") {
<div id="wrapper" class="container_12 clearfix">
    <!-- Text Logo -->


    <div class="container">
        <header>
            <h1><!--<span>ADMIN</span>--> Genetic basis of stroke in an Indian population (www.brainsgenetics.com)</h1>

        </header>
        <div class="form" style="width:100%;background: #f1f1f1;border-radius: 10px;">
            <form id="userForm" method="post" style="padding-top: 2%;" action="@controllers.user.routes.UserController.handleSave()" data-uri="@controllers.user.routes.UserController.save(0)">
                <div class="box message" ><!--style="display:none;padding-top: 2%;padding-left: 1%;padding-bottom: 2%;color: red;"-->
                    <div class="content-m">

                    </div>
                </div>
                <table cellspacing="5" cellpadding="5" style="clear: both;float: left;"/>
                    <tr>
                        <td colspan="2">Data Collection Form (DCF)</td>

                        <td>Patient’s ID Number</td>
                        <td><input type="text" id="patientIdNumber" name="patientIdNumber" value=""/></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <h2>(1)	DETAILS OF RECRUITMENT</h2>
                        </td>
                    </tr>
                      <tr>
                          <td>Trial SITE:</td>
                          <td><input type="text" name="trialSite" id="trialSite" value="" ></td>
                          <td>Date recruited</td>
                          <td>
                              <input type="number" name="dateRecruited" id="dateRecruited" value="" style="width: 45px;"/>
                              <input type="number" name="dateRecruitedMonth" id="dateRecruitedMonth" value="" style="width: 45px;"/>
                              <input type="number" name="dateRecruitedYear" id="dateRecruitedYear" value="" style="width: 100px;"/>
                          </td>
                      </tr>
                     <tr>
                        <td colspan="4">
                            <h2>(2)	PATIENT’S PERSONAL DETAILS</h2>
                        </td>
                     </tr>
                     <tr>
                        <td>Name of Patient:</td>
                         <td><input type="text" name="patientName" id="patientName" value="" ></td>
                         <td>DOB:</td>
                         <td>
                             <input type="number" name="patientDobDate" id="patientDobDate" value="" style="width: 45px;"/>
                             <input type="number" name="patientDobMonth" id="patientDobMonth" value="" style="width: 45px;"/>
                             <input type="number" name="patientDobYear" id="patientDobYear" value="" style="width: 100px;"/>
                         </td>
                     </tr>
                    <tr>
                        <td>Address:
                            (Patient’s label)
                        </td>
                        <td><textarea name="patientAddress" id="patientAddress" value="" style="margin: 0px; width: 290px; height: 58px;"></textarea></td>
                        <td>Gender</td>
                        <td>
                            <select name="gender" id="gender" class="gender">
                                <option id="male" value="Male">Male</option>
                                <option id="female" value="Female">Female</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">Contact details for follow-up call:</td>
                         <td>Landline</td>
                         <td><input type="text" id="landlinePhoneNumber" name="landlinePhoneNumber" value=""/></td>
                    </tr>
                    <tr>
                        <td>Cell Phone</td>
                        <td><input type="text" id="cellPhoneNumber" name="cellPhoneNumber" value=""/></td>
                        <td>Friend/relative</td>
                        <td><input type="text" id="friendRelativePhoneNumber" name="friendRelativePhoneNumber" value=""/></td>
                    </tr>
                    <tr>
                        <td>Place of birth (town/country:)</td>
                        <td><input type="text" id="placeOfBirth" name="placeOfBirth" value=""/></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Ethnicity:</td>
                        <td><input type="text" id="ethnicity" name="ethnicity" value=""/></td>
                        <td>Native Language:</td>
                        <td><input type="text" id="nativeLanguage" name="nativeLanguage" value=""/></td>
                    </tr>
                    <tr>
                        <td>Religion:</td>
                        <td><input type="text" id="religion" name="religion" value=""/></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Economic Status</td>
                        <td colspan="3">
                            <table>
                                <tr>
                                    <td><input type="checkbox" name="bed" id="bed" value="Bed"  />(1) Bed</td>
                                    <td><input type="checkbox" name="bed" id="Electricity" value="Electricity"  />(2) Electricity</td>
                                    <td><input type="checkbox" name="Table" id="Table" value="Table" title="(3) Table" />(3) Table</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="Toilet" id="Toilet" value="Toilet" title="(4) Toilet" />(4) Toilet</td>
                                    <td><input type="checkbox" name=" Roofed house" id=" Roofed house" value=" Roofed house"  />(5) Roofed house</td>
                                    <td><input type="checkbox" name="Water Filter" id="Water Filter" value="Water Filter"  />(6) Water Filter</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="Fan" id="Fan" value="Fan"  />(7)  Fan</td>
                                    <td><input type="checkbox" name="Cooler" id="Cooler" value="Cooler"  />(8) Cooler</td>
                                    <td><input type="checkbox" name="Cooking Gas" id="Cooking Gas" value="Cooking Gas"  />(9) Cooking Gas</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="T.V." id="T.V." value="T.V."  />(10)  T.V.</td>
                                    <td><input type="checkbox" name="Phone" id="Phone" value="Phone"  />(11) Phone/Mobile</td>
                                    <td><input type="checkbox" name="Scooter" id="Scooter" value="Scooter"  />(12) Scooter/Bike</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="Sofa Set" id="Sofa Set" value="Sofa Set"  />(13) Sofa Set</td>
                                    <td><input type="checkbox" name="Curtain in windows" id="Curtain in windows" value="Curtain in windows"  />(14) Curtain in windows</td>
                                    <td><input type="checkbox" name="Refrigerator" id="Refrigerator" value="Refrigerator"  />(15) Refrigerator</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="Mixer Grinder" id="Mixer Grinder" value="Mixer Grinder"  />(16) Mixer Grinder</td>
                                    <td><input type="checkbox" name="Dining Table" id="Dining Table" value="Dining Table"  />(17) Dining Table</td>
                                    <td><input type="checkbox" name="Toaster" id="Toaster" value="Toaster"  />(18) Toaster</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="Aqua guard" id="Aqua guard" value="Aqua guard"  />(19) Aqua guard</td>
                                    <td><input type="checkbox" name="Microwave oven" id="Microwave oven" value="Microwave oven"  />(20) Microwave oven</td>
                                    <td><input type="checkbox" name="Computer" id="Computer" value="Computer"  />(21) Computer</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="Geyser" id="Geyser" value="Geyser"  />(22) Geyser</td>
                                    <td><input type="checkbox" name="R.O. Water Purifier System" id="R.O. Water Purifier System" value="R.O. Water Purifier System"  />(23) R.O. Water Purifier System</td>
                                    <td><input type="checkbox" name="Car" id="Car" value="Car"  />(24) Car</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="A.C." id="A.C." value="A.C."  />(25) A.C.</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>Blood Sample</td>
                        <td colspan="3">
                            <table>
                                <tr>
                                    <td>Blood taken</td>
                                    <td>
                                        <select name="bloodSampleTaken" id="bloodSampleTaken">
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                    </td>
                                    <td rowspan="2">Blood sample number=patient identification number (local centre)</td>
                                    <td><input type="text" name="bloodSampleNumber" id="bloodSampleNumber" value=""></td>
                                </tr>
                                <tr>
                                    <td>When:</td>
                                    <td style="width: 299px;">
                                        <input type="number" name="bloodSampleDate" id="bloodSampleDate" value="" style="width: 45px;"/>
                                        <input type="number" name="bloodSampleMonth" id="bloodSampleMonth" value="" style="width: 45px;"/>
                                        <input type="number" name="bloodSampleYear" id="bloodSampleYear" value="" style="width: 100px;"/>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>Date of stroke/ event</td>
                        <td>
                            <input type="number" name="strokeDate" id="strokeDate" value="" style="width: 45px;"/>
                            <input type="number" name="strokeMonth" id="strokeMonth" value="" style="width: 45px;"/>
                            <input type="number" name="strokeYear" id="strokeYear" value="" style="width: 100px;"/>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="4"> <button id="save" name="save" type="submit">Next</button> </td>
                    </tr>
                </table>
            </form>

        </div>
    </div>
    <!-- <div class="hr grid_12 clearfix">&nbsp;</div>-->
    <!-- Footer -->
    @footer()
</div>
} {
<script type="text/javascript" src="@routes.Assets.at("javascripts/user/events.js")"></script>
}