@(message: String, u: models.response.user.User, pid: Integer)

@import tags._
@main("User") {
<div id="wrapper" class="container_12 clearfix">
<!-- Text Logo -->

@header(u)
<div class="container">
<header>
    <h1><!--<span>ADMIN</span>--> Genetic basis of stroke in an Indian population (www.brainsgenetics.com)</h1>

</header>
<div class="form" style="width:100%;background: #f1f1f1;border-radius: 10px;">
<form id="form5" method="POST" style="padding-top: 2%;" action="@controllers.data.routes.DataController.handleSaveForm5()" data-uri="@controllers.data.routes.DataController.form6()">
<div class="box message" ><!--style="display:none;padding-top: 2%;padding-left: 1%;padding-bottom: 2%;color: red;"-->
    <div class="content-m">

    </div>
</div>
<table cellspacing="5" cellpadding="5" style="clear: both;float: left;"/>
<tr>
    <td colspan="2">Data Collection Form (DCF)</td>

    <td>Patient’s ID Number</td>
    <td><input type="text" id="patientIdNumber" name="patientIdNumber" value="@pid"/></td>
</tr>
    <tr>
        <td>Medicine on
            discharge:
        </td>
        <td colspan="3">
            <table>
                <tr>
                    <td><input type="hidden" id="id" name="id" value=""/></td>
                </tr>
                <tr>
                    <td>Aspirin </td><td><input type="checkbox" name="aspirin" value="aspirin" id="aspirin"/></td>
                    <td>Dose <input type="text" name="aspirinDosage" id="aspirinDosage" class="small-textbox"/> mg/day</td>
                </tr>
                <tr>
                    <td>Clopidogrel </td><td><input type="checkbox" name="clopidogrel" value="clopidogrel" id="clopidogrel"/></td>
                    <td>Dose <input type="text" name="clopidogrelDosage" id="clopidogrelDosage" class="small-textbox"/> mg/day</td>
                </tr>
                <tr>
                    <td>Aspirin + Clopidogrel </td><td><input type="checkbox" name="aspirinPlusClopidogrel" value="aspirinPlusClopidogrel" id="aspirinPlusClopidogrel"/></td>
                    <td>Dose <input type="text" name="aspirinPlusClopidogrelDosage1" id="aspirinPlusClopidogrelDosage1" class="small-textbox"/> +<input type="text" name="aspirinPlusClopidogrelDosage2" id="aspirinPlusClopidogrelDosage2" class="small-textbox"/>  mg/day </td>
                </tr>
                <tr>
                    <td>Dipyridamole</td><td> <input type="checkbox" name="dipyridamole" value="dipyridamole" id="dipyridamole"/></td>
                    <td>Dose <input type="text" name="dipyridamoleDosage" id="dipyridamoleDosage" class="small-textbox"/> mg/day</td>
                </tr>
                <tr>
                    <td>Aspirin + Dipyridamole </td><td><input type="checkbox" name="aspirinPlusDipyridamole" value="aspirinPlusDipyridamole" id="aspirinPlusDipyridamole"/></td>
                    <td>Dose <input type="text" name="aspirinPlusDipyridamoleDosage1" id="aspirinPlusDipyridamoleDosage1" class="small-textbox"/> + <input type="text" name="aspirinPlusDipyridamoleDosage2" id="aspirinPlusDipyridamoleDosage2" class="small-textbox"/> mg/day</td>
                </tr>

                <tr>
                    <td>Statin</td><td> <input type="checkbox" name="statin" value="statin" id="statin"/></td>
                    <td>Dose <input type="text" name="statinDosage" id="statinDosage" class="small-textbox"/> mg/day</td>
                    <td>Name <input type="text" name="statinName" id="statinName" class="small-textbox"/></td>
                </tr>
                <tr>
                    <td>Antihypertensive</td><td> <input type="checkbox" name="antihypertensive" value="antihypertensive" id="antihypertensive"/></td>
                </tr>
                <tr>
                    <td>Warfarin</td><td> <input type="checkbox" name="warfarin" value="warfarin" id="warfarin"/></td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td>Name and address of Spouse/Partner</td>
        <td colspan="3">
            <table>
                <tr>
                    <td>Name</td>
                    <td><input type="text" name="spouseName" id="spouseName" value="" style="width: 290px;" /></td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td><textarea name="spouseAddress" id="spouseAddress" value="" style="margin: 0px; width: 290px; height: 58px;"></textarea></td>
                </tr>
                <tr>
                    <td>DOB</td>
                    <td>
                        <input type="text" name="spouseDob" id="spouseDob" value="" style="width: 50px;"/>
                    </td>
                    <td>Gender</td>
                    <td>
                        <input type="radio" name="spouseGender" id="spouseGenderMale" checked="checked">Male
                        <input type="radio" name="spouseGender" id="spouseGenderFemale">Female
                    </td>
                </tr>
            </table>
         </td>
    </tr>
    <tr>
        <td>Contact details for follow-up call</td>
        <td colspan="3">
             <table>
                 <tr>
                     <td>Landline   </td>
                     <td> <input type="text" name="spouseLandlinePhoneNumber" id="spouseLandlinePhoneNumber" style="width: 120px;"> </td>
                 </tr>
                 <tr>
                     <td>Cell Phone  </td>
                     <td> <input type="text" name="spouseCellPhoneNumber" id="spouseCellPhoneNumber" style="width: 120px;"> </td>
                 </tr>
                 <tr>
                     <td>Friend/relative </td>
                     <td> <input type="text" name="spouseFriendPhoneNumber" id="spouseFriendPhoneNumber" style="width: 120px;"> </td>
                 </tr>
             </table>
        </td>
    </tr>
    <tr>
        <td>Place of birth (town/country): </td>
        <td colspan="3"><input type="text" name="spousePlaceOfBirth" id="spousePlaceOfBirth"></td>
    </tr>
    <tr>
        <td>Ethnicity:</td>
        <td><input type="text" name="spouseEthnicity" id="spouseEthnicity"></td>
        <td>Religion:</td>
        <td><input type="text" name="spouseReligion" id="spouseReligion"></td>
    </tr>
    <tr>
        <td>Native Language:</td>
        <td> <input type="text" name="spouseNativeLanguage" id="spouseNativeLanguage"> </td>
        <td>BP today   </td>
        <td><input type="text" name="bpToday1" id="bpToday1">/<input type="text" name="bpToday2" id="bpToday2">mmHg</td>
    </tr>
    <tr>
        <td>
            Medical Past
            History:

        </td>
        <td colspan="3">
            <table>
                <tr>
                    <td>Hypertension</td>
                    <td colspan="2">
                        <input type="radio" name="spouseHypertension" value="Yes">Yes
                        <input type="radio" name="spouseHypertension" value="No">No
                        <input type="radio" name="spouseHypertension" value="DontKnow">Don't Know
                    </td>
                </tr>
                <tr>
                    <td>Diabetes Mellitus</td>
                    <td colspan="2">
                        <input type="radio" name="spouseDiabetesMellitus" value="Yes">Yes
                        <input type="radio" name="spouseDiabetesMellitus" value="No">No
                        <input type="radio" name="spouseDiabetesMellitus" value="DontKnow">Don't Know
                    </td>
                </tr>
                <tr>
                    <td>IHD/Angina</td>
                    <td colspan="2">
                        <input type="radio" name="spouseIhdAngina" value="Yes">Yes
                        <input type="radio" name="spouseIhdAngina" value="No">No
                        <input type="radio" name="spouseIhdAngina" value="DontKnow">Don't Know
                    </td>
                </tr>
                <tr>
                    <td>Hypercholesterolemia</td>
                    <td colspan="2">
                        <input type="radio" name="spouseHypercholesterolemia" value="Yes">Yes
                        <input type="radio" name="spouseHypercholesterolemia" value="No">No
                        <input type="radio" name="spouseHypercholesterolemia" value="DontKnow">Don't Know
                    </td>
                </tr>
                <tr>
                    <td>Atrial Fibrillation</td>
                    <td colspan="2">
                        <input type="radio" name="spouseAtrialFibrillation" value="Yes">Yes
                        <input type="radio" name="spouseAtrialFibrillation" value="No">No
                        <input type="radio" name="spouseAtrialFibrillation" value="DontKnow">Don't Know
                    </td>
                </tr>
                <tr>
                    <td>PVD</td>
                    <td colspan="2">
                        <input type="radio" name="spousePvd" value="Yes">Yes
                        <input type="radio" name="spousePvd" value="No">No
                        <input type="radio" name="spousePvd" value="DontKnow">Don't Know
                    </td>
                </tr>
                <tr>
                    <td>MI</td>
                    <td colspan="2">
                        <input type="radio" name="spouseMi" value="Yes">Yes
                        <input type="radio" name="spouseMi" value="No">No
                        <input type="radio" name="spouseMi" value="DontKnow">Don't Know
                    </td>
                </tr>
                <tr>
                    <td>Migraine with aura</td>
                    <td colspan="2">
                        <input type="radio" name="spouseMigraineWithAura" value="Yes">Yes
                        <input type="radio" name="spouseMigraineWithAura" value="No">No
                        <input type="radio" name="spouseMigraineWithAura" value="DontKnow">Don't Know
                    </td>
                </tr>
                <tr>
                    <td>Migraine without aura</td>
                    <td colspan="2">
                        <input type="radio" name="spouseMigraineWithoutAura" value="Yes">Yes
                        <input type="radio" name="spouseMigraineWithoutAura" value="No">No
                        <input type="radio" name="spouseMigraineWithoutAura" value="DontKnow">Don't Know
                    </td>
                </tr>
                <tr>
                    <td>Ischaemic Stroke</td>
                    <td colspan="2">
                        <input type="radio" name="ischaemicStroke" value="Yes">Yes
                        <input type="radio" name="ischaemicStroke" value="No">No
                        <input type="radio" name="ischaemicStroke" value="DontKnow">Don't Know
                    </td>

                </tr>
                <tr>
                    <td>Hoemorrhagic Stroke  </td>
                    <td colspan="2">
                        <input type="radio" name="hoemorrhagicStroke" value="Yes">Yes
                        <input type="radio" name="hoemorrhagicStroke" value="No">No
                        <input type="radio" name="hoemorrhagicStroke" value="DontKnow">Don't Know
                    </td>

                </tr>
                <tr>
                    <td>TIA</td>
                    <td colspan="2">
                        <input type="radio" name="tia" value="Yes">Yes
                        <input type="radio" name="tia" value="No">No
                        <input type="radio" name="tia" value="DontKnow">Don't Know
                    </td>

                </tr>
            </table>
        </td>
    </tr>
<tr>
    <td colspan="4"> <button id="save" name="save" type="submit">Next</button> </td>
</tr>

</table>
</form>

</div>
</div>
<!-- <div class="hr grid_12 clearfix">&nbsp;</div>-->
<!-- Footer -->
@footer()
</div>
} {
<script type="text/javascript" src="@routes.Assets.at("javascripts/form/events.js")"></script>
<script>
    $(function() {
        $('#spouseDob').datepicker();
    });
</script>
<script>
$(document).ready(function () {

    <!--For checkbox and textbox validation-->
    $("form input:checkbox").change(function() {
        var _id = $(this).attr('id');
        if(_id == 'aspirinPlusClopidogrel' || _id == 'aspirinPlusDipyridamole') {
            if($('#' + _id).is(':checked')) {
                $('#' + _id + 'Dosage1').prop('required', true);
                $('#' + _id + 'Dosage2').prop('required', true);
            } else {
                $('#' + _id + 'Dosage1').prop('required', false);
                $('#' + _id + 'Dosage2').prop('required', false);
            }
        } else {
            if($('#' + _id).is(':checked')) {
                $('#' + _id + 'Dosage').prop('required', true);
            } else {
                $('#' + _id + 'Dosage').prop('required', false);
            }
        }
    });
});
</script>
<style>
.form input[type="text"]{
    width:80px;
}
</style>
}