@(message: String, u: models.response.user.User, d: models.data.form.DataCollectionForm1,es: models.response.data.EconomicStatus)

@import tags._
@main("User") {
<div id="wrapper" class="container_12 clearfix">
    <!-- Text Logo -->
    @header(u)
    <div class="container">
    <div class="spinner" id="overlay" style="display:none;"><img id="loading" src='@routes.Assets.at("images/spinner.gif")'></div>
        <header>
            <h1><!--<span>ADMIN</span>--> Genetic basis of stroke in an Indian population (www.brainsgenetics.com)</h1>

        </header>
        <div class="form" style="width:100%;background: #f1f1f1;border-radius: 10px;">
            @if(d != null && d.getId() != null) {
                <form id="form1" method="POST" style="padding-top: 2%;" action="@controllers.data.routes.DataController.handleSaveForm1()" data-uri="/data/form2/@d.getPatientIdNumber()">
            } else {
                <form id="form1" method="POST" style="padding-top: 2%;" action="@controllers.data.routes.DataController.handleSaveForm1()" data-uri="@controllers.data.routes.DataController.form2(0)">
            }
                <div class="box message" ><!--style="display:none;padding-top: 2%;padding-left: 1%;padding-bottom: 2%;color: red;"-->
                    <div class="content-m">

                    </div>
                </div>
                <table cellspacing="5" cellpadding="5" style="clear: both;float: left;"/>
                    <tr>
                        @if(d != null && d.getId() != null) {
                        <td><input type="hidden" id="id" name="id" value="@d.getId()"/></td>
                        } else {
                        <td><input type="hidden" id="id" name="id" value="" /></td>
                        }
                    </tr>
                    <tr>
                        <td colspan="2">Data Collection Form (DCF)</td>
                        @if(d != null && d.getPatientIdNumber() != null) {
                        <td>Patient’s ID Number</td>
                        <td><input type="text" id="patientIdNumber" name="patientIdNumber" value="@d.getPatientIdNumber()" required="required"/></td>
                        }
                    </tr>
                    <tr>
                        <td colspan="2">
                            <h2>(1)	DETAILS OF RECRUITMENT</h2>
                        </td>
                    </tr>
                      <tr>
                          <td>Trial Site:</td>
                          <td><input type="text" name="trialSite" id="trialSite" value="@d.getTrialSite()" ></td>
                          <td>Date recruited</td>
                          <td><input type="text" name="recruitedDate" id="recruitedDate" value="@d.getRecruitedDateString()" placeholder="01/01/1990"/></td>
                      </tr>
                     <tr>
                        <td colspan="4">
                            <h2>(2)	PATIENT’S PERSONAL DETAILS</h2>
                        </td>
                     </tr>
                     <tr>
                        <td>Name of Patient:</td>
                         <td><input type="text" name="patientName" id="patientName" value="@d.getPatientName()" ></td>
                         <td>Date Of Birth:</td>
                         <td>
                             <input type="text" name="patientDob" id="patientDob" value="@d.getDateOfBirthString()" placeholder="01/01/1990"/>
                         </td>
                     </tr>
                    <tr>
                        <td>Address:
                            (Patient’s label)
                        </td>
                        <td><textarea name="patientAddress" id="patientAddress" style="margin: 0px; width: 290px; height: 58px;">@d.getPatientAddress()</textarea></td>
                        <td>Gender</td>
                        <td>
                            <select name="gender" id="gender" class="gender">
                                @if(d != null && d.getGender() != null && d.getGender().name() == "FEMALE") {
                                    <option id="male" value="Male">Male</option>
                                    <option id="female" value="Female" selected="selected">Female</option>
                                } else {
                                    <option id="male" value="Male" selected="selected">Male</option>
                                    <option id="female" value="Female">Female</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">Contact details for follow-up call:</td>
                         <td>Landline</td>
                         <td><input type="text" id="landlinePhoneNumber" name="landlinePhoneNumber" value="@d.getLandlinePhoneNumber()"/></td>
                    </tr>
                    <tr>
                        <td>Cell Phone</td>
                        <td><input type="text" id="cellPhoneNumber" name="cellPhoneNumber" value="@d.getCellPhoneNumber()"/></td>
                        <td>Friend/relative</td>
                        <td><input type="text" id="friendRelativePhoneNumber" name="friendRelativePhoneNumber" value="@d.getFriendRelativePhoneNumber()"/></td>
                    </tr>
                    <tr>
                        <td>Place of birth (town/country:)</td>
                        <td><input type="text" id="placeOfBirth" name="placeOfBirth" value="@d.getPlaceOfBirth()"/></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Ethnicity:</td>
                        <td><input type="text" id="ethnicity" name="ethnicity" value="@d.getEthnicity()"/></td>
                        <td>Native Language:</td>
                        <td><input type="text" id="nativeLanguage" name="nativeLanguage" value="@d.getNativeLanguage()"/></td>
                    </tr>
                    <tr>
                        <td>Religion:</td>
                        <td><input type="text" id="religion" name="religion" value="@d.getReligion()"/></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Economic Status</td>
                        <td colspan="3">
                            <table name="economicStatus">
                                    <tr>
                                        @if(es !=null && es.getBed()!=0) {
                                        <td><input type="checkbox" name="economicStatuses[]" id="bed" value="Bed"  checked/>(1) Bed</td>
                                        } else {
                                        <td><input type="checkbox" name="economicStatuses[]" id="bed" value="Bed"  />(1) Bed</td>
                                        }
                                        @if(es !=null && es.getElectricity()!=0) {
                                        <td><input type="checkbox" name="economicStatuses[]" id="Electricity" value="Electricity" checked />(2) Electricity</td>
                                        } else {
                                        <td><input type="checkbox" name="economicStatuses[]" id="Electricity" value="Electricity"  />(2) Electricity</td>
                                        }
                                        @if(es !=null && es.getTable()!=0) {
                                        <td><input type="checkbox" name="economicStatuses[]" id="Table" value="Table" title="(3) Table" checked />(3) Table</td>
                                        } else {
                                        <td><input type="checkbox" name="economicStatuses[]" id="Table" value="Table" title="(3) Table" />(3) Table</td>
                                        }
                                    </tr>
                                    <tr>
                                        @if(es !=null && es.getToilet()!=0) {
                                        <td><input type="checkbox" name="economicStatuses[]" id="Toilet" value="Toilet" title="(4) Toilet" checked/>(4) Toilet</td>
                                        } else {
                                        <td><input type="checkbox" name="economicStatuses[]" id="Toilet" value="Toilet" title="(4) Toilet" />(4) Toilet</td>
                                        }
                                        @if(es !=null && es.getRoofedHouse()!=0) {
                                        <td><input type="checkbox" name="economicStatuses[]" id="Roofed house" value=" Roofed house"  checked/>(5) Roofed house</td>
                                        } else {
                                        <td><input type="checkbox" name="economicStatuses[]" id="Roofed house" value=" Roofed house"  />(5) Roofed house</td>
                                        }
                                        @if(es !=null && es.getWaterFilter()!=0) {
                                        <td><input type="checkbox" name="economicStatuses[]" id="Water Filter" value="Water Filter"  />(6) Water Filter</td>
                                        } else {
                                        <td><input type="checkbox" name="economicStatuses[]" id="Water Filter" value="Water Filter"  />(6) Water Filter</td>
                                        }
                                    </tr>
                                    <tr>
                                        @if(es !=null && es.getFan()!=0) {
                                        <td><input type="checkbox" name="economicStatuses[]" id="Fan" value="Fan"  checked/>(7)  Fan</td>
                                        } else {
                                        <td><input type="checkbox" name="economicStatuses[]" id="Fan" value="Fan"  />(7)  Fan</td>
                                        }
                                        @if(es !=null && es.getCooler()!=0) {
                                        <td><input type="checkbox" name="economicStatuses[]" id="Cooler" value="Cooler"  checked/>(8) Cooler</td>
                                        } else {
                                        <td><input type="checkbox" name="economicStatuses[]" id="Cooler" value="Cooler"  />(8) Cooler</td>
                                        }
                                        @if(es !=null && es.getCookingGas()!=0) {
                                        <td><input type="checkbox" name="economicStatuses[]" id="Cooking Gas" value="Cooking Gas" checked />(9) Cooking Gas</td>
                                        } else {
                                        <td><input type="checkbox" name="economicStatuses[]" id="Cooking Gas" value="Cooking Gas"  />(9) Cooking Gas</td>
                                        }
                                    </tr>
                                    <tr>
                                        @if(es !=null && es.getTV()!=0) {
                                        <td><input type="checkbox" name="economicStatuses[]" id="T.V." value="T.V." checked />(10)  T.V.</td>
                                        } else {
                                        <td><input type="checkbox" name="economicStatuses[]" id="T.V." value="T.V."  />(10)  T.V.</td>
                                        }
                                        @if(es !=null && es.getPhone()!=0) {
                                        <td><input type="checkbox" name="economicStatuses[]" id="Phone" value="Phone" checked />(11) Phone/Mobile</td>
                                        } else {
                                        <td><input type="checkbox" name="economicStatuses[]" id="Phone" value="Phone"  />(11) Phone/Mobile</td>
                                        }
                                        @if(es !=null && es.getScooter()!=0) {
                                        <td><input type="checkbox" name="economicStatuses[]" id="Scooter" value="Scooter" checked />(12) Scooter/Bike</td>
                                        } else {
                                        <td><input type="checkbox" name="economicStatuses[]" id="Scooter" value="Scooter"  />(12) Scooter/Bike</td>
                                        }
                                    </tr>
                                    <tr>
                                        @if(es !=null && es.getSofaSet()!=0) {
                                        <td><input type="checkbox" name="economicStatuses[]" id="Sofa Set" value="Sofa Set" checked />(13) Sofa Set</td>
                                        } else {
                                        <td><input type="checkbox" name="economicStatuses[]" id="Sofa Set" value="Sofa Set"  />(13) Sofa Set</td>
                                        }
                                        @if(es !=null && es.getCurtainInWindows()!=0) {
                                        <td><input type="checkbox" name="economicStatuses[]" id="Curtain in windows" value="Curtain in windows" checked />(14) Curtain in windows</td>
                                        } else {
                                        <td><input type="checkbox" name="economicStatuses[]" id="Curtain in windows" value="Curtain in windows"  />(14) Curtain in windows</td>
                                        }
                                        @if(es !=null && es.getRefrigerator()!=0) {
                                        <td><input type="checkbox" name="economicStatuses[]" id="Refrigerator" value="Refrigerator" checked />(15) Refrigerator</td>
                                        } else {
                                        <td><input type="checkbox" name="economicStatuses[]" id="Refrigerator" value="Refrigerator"  />(15) Refrigerator</td>
                                        }
                                    </tr>
                                    <tr>
                                        @if(es !=null && es.getMixerGrinder()!=0) {
                                        <td><input type="checkbox" name="economicStatuses[]" id="Mixer Grinder" value="Mixer Grinder" checked />(16) Mixer Grinder</td>
                                        } else {
                                        <td><input type="checkbox" name="economicStatuses[]" id="Mixer Grinder" value="Mixer Grinder"  />(16) Mixer Grinder</td>
                                        }
                                        @if(es !=null && es.getDiningTable()!=0) {
                                        <td><input type="checkbox" name="economicStatuses[]" id="Dining Table" value="Dining Table" checked />(17) Dining Table</td>
                                        } else {
                                        <td><input type="checkbox" name="economicStatuses[]" id="Dining Table" value="Dining Table"  />(17) Dining Table</td>
                                        }
                                        @if(es !=null && es.getToaster()!=0) {
                                        <td><input type="checkbox" name="economicStatuses[]" id="Toaster" value="Toaster" checked />(18) Toaster</td>
                                        } else {
                                        <td><input type="checkbox" name="economicStatuses[]" id="Toaster" value="Toaster"  />(18) Toaster</td>
                                        }
                                    </tr>
                                    <tr>
                                        @if(es !=null && es.getAquaguard()!=0) {
                                        <td><input type="checkbox" name="economicStatuses[]" id="Aqua guard" value="Aqua guard" checked />(19) Aqua guard</td>
                                        } else {
                                        <td><input type="checkbox" name="economicStatuses[]" id="Aqua guard" value="Aqua guard"  />(19) Aqua guard</td>
                                        }
                                        @if(es !=null && es.getMicrowaveOven()!=0) {
                                        <td><input type="checkbox" name="economicStatuses[]" id="Microwave oven" value="Microwave oven" checked />(20) Microwave oven</td>
                                        } else {
                                        <td><input type="checkbox" name="economicStatuses[]" id="Microwave oven" value="Microwave oven"  />(20) Microwave oven</td>
                                        }
                                        @if(es !=null && es.getComputer()!=0) {
                                        <td><input type="checkbox" name="economicStatuses[]" id="Computer" value="Computer" checked />(21) Computer</td>
                                        } else {
                                        <td><input type="checkbox" name="economicStatuses[]" id="Computer" value="Computer"  />(21) Computer</td>
                                        }
                                    </tr>
                                    <tr>
                                        @if(es !=null && es.getGeyser()!=0) {
                                        <td><input type="checkbox" name="economicStatuses[]" id="Geyser" value="Geyser"checked  />(22) Geyser</td>
                                        } else {
                                        <td><input type="checkbox" name="economicStatuses[]" id="Geyser" value="Geyser"  />(22) Geyser</td>
                                        }
                                        @if(es !=null && es.getRO()!=0) {
                                        <td><input type="checkbox" name="economicStatuses[]" id="R.O. Water Purifier System" value="R.O. Water Purifier System" checked />(23) R.O. Water Purifier System</td>
                                        } else {
                                        <td><input type="checkbox" name="economicStatuses[]" id="R.O. Water Purifier System" value="R.O. Water Purifier System"  />(23) R.O. Water Purifier System</td>
                                        }
                                        @if(es !=null && es.getCar()!=0) {
                                        <td><input type="checkbox" name="economicStatuses[]" id="Car" value="Car" checked />(24) Car</td>
                                        } else {
                                        <td><input type="checkbox" name="economicStatuses[]" id="Car" value="Car"  />(24) Car</td>
                                        }
                                    </tr>
                                    <tr>
                                        @if(es !=null && es.getAC()!=0) {
                                        <td><input type="checkbox" name="economicStatuses[]" id="A.C." value="A.C." checked />(25) A.C.</td>
                                        } else {
                                        <td><input type="checkbox" name="economicStatuses[]" id="A.C." value="A.C."  />(25) A.C.</td>
                                        }
                                    </tr>

                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>Blood Sample</td>
                        <td colspan="3">
                            <table>
                                <tr>
                                    <td>Blood taken</td>
                                    <td>
                                        <select name="bloodSampleTaken" id="bloodSampleTaken">
                                            @if(d != null && d.getBloodSampleTaken() != null && d.getBloodSampleTaken().name().toUpperCase() == "NO") {
                                            <option value="Yes">Yes</option>
                                            <option value="No" selected="selected">No</option>
                                            } else {
                                            <option value="Yes" selected="selected">Yes</option>
                                            <option value="No">No</option>
                                            }
                                        </select>
                                    </td>
                                    <td rowspan="2">Blood sample number=patient identification number (local centre)</td>
                                    <td><input type="text" name="bloodSampleNumber" id="bloodSampleNumber" value="@d.getBloodSampleNumber()"></td>
                                </tr>
                                <tr>
                                    <td>When:</td>
                                    <td style="width: 299px;">
                                        <input type="text" name="bloodSampleDate" id="bloodSampleDate" value="@d.getBloodSampleDateString()" placeholder="01/01/1990"/>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>Date of stroke/ event</td>
                        <td>
                            <input type="text" name="strokeDate" id="strokeDate" value="@d.getDateOfStrokeString()" placeholder="01/01/1990"/>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="4"><button id="save" name="save" >Next</button></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <!-- Footer -->
    @footer()
</div>
} {
<script type="text/javascript" src="@routes.Assets.at("javascripts/form/events.js")"></script>
<script>
    $(function() {
        $('#recruitedDate').datepicker();
        $('#patientDob').datepicker();
        $('#bloodSampleDate').datepicker();
        $('#strokeDate').datepicker();
    });
</script>
}