@(message: String, u: models.response.user.User, pid: Long, d: models.data.form.DataCollectionForm2)

@import tags._
@main("User") {
<div id="wrapper" class="container_12 clearfix">
    <!-- Text Logo -->

    @header(u)
    <div class="container">
    <div class="spinner" id="overlay" style="display:none;"><img id="loading" src='@routes.Assets.at("images/spinner.gif")'></div>
        <header>
            <h1><!--<span>ADMIN</span>--> Genetic basis of stroke in an Indian population (www.brainsgenetics.com)</h1>

        </header>
        <div class="form" style="width:100%;background: #f1f1f1;border-radius: 10px;">
        @if(d != null && d.getId() != null) {
            <form id="form2" method="POST" style="padding-top: 2%;" action="@controllers.data.routes.DataController.handleSaveForm2()" data-uri="/data/form3/@d.getPatientIdNumber()">
            } else {
            <form id="form2" method="POST" style="padding-top: 2%;" action="@controllers.data.routes.DataController.handleSaveForm2()" data-uri="@controllers.data.routes.DataController.form3(0)">
            }
                <div class="box message">
                    <div class="content-m">

                    </div>
                </div>
                <table cellspacing="5" cellpadding="5" style="clear: both;float: left;"/>
                <tr>
                    @if(d != null && d.getId() != null) {
                    <td><input type="hidden" id="id" name="id" value="@d.getId()"/></td>
                    } else {
                    <td><input type="hidden" id="id" name="id" value=""/></td>
                    }
                </tr>
                <tr>
                    <td colspan="2">Data Collection Form (DCF)</td>
                    <td>Patient’s ID Number</td>
                    @if(d != null && d.getPatientIdNumber() != null) {
                    <td><input type="text" id="patientIdNumber" name="patientIdNumber" value="@d.getPatientIdNumber().toString()" readonly/></td>
                    } else {
                    <td><input type="text" id="patientIdNumber" name="patientIdNumber" value="@pid" readonly/></td>
                    }
                </tr>
                <tr>
                    <td colspan="2">
                        <h2>(3)	PATIENT’S DIAGNOSIS AND MEDICAL HISTORY</h2>
                    </td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="1">
                        Diagnosis:(one of those must apply)</td>
                    <td colspan="3">
                        <table>
                            <tr>
                                <td>
                                    Ischaemic Stroke
                                    <select name="ischaemicStroke" id="ischaemicStroke">
                                        @if(d != null && d.getIschaemicStroke() != null && d.getIschaemicStroke().name().toUpperCase() == "NO") {
                                        <option value="Yes">Yes</option>
                                        <option value="No" selected="selected">No</option>
                                        } else {
                                        <option value="Yes" selected="selected">Yes</option>
                                        <option value="No">No</option>
                                        }
                                    </select>
                                </td>
                                <td>
                                    @if(d != null && d.getTaci() != null && d.getTaci().name().toUpperCase() == "YES") {
                                    <input type="checkbox" name="taci" id="taci" value="taci" checked="checked"/>Taci
                                    } else {
                                    <input type="checkbox" name="taci" id="taci" value="taci"/>Taci
                                    }
                                    @if(d != null && d.getPaci() != null && d.getPaci().name().toUpperCase() == "YES") {
                                    <input type="checkbox" name="paci" id="paci" value="paci" checked="checked"/>Paci
                                    } else {
                                    <input type="checkbox" name="paci" id="paci" value="paci"/>Paci
                                    }
                                </td>
                                <td>
                                    @if(d != null && d.getLaci() != null && d.getLaci().name().toUpperCase() == "YES") {
                                    <input type="checkbox" name="laci" id="laci" value="laci" checked="checked"/>Laci
                                    } else {
                                    <input type="checkbox" name="laci" id="laci" value="laci"/>Laci
                                    }
                                    @if(d != null && d.getPoci() != null && d.getPoci().name().toUpperCase() == "YES") {
                                    <input type="checkbox" name="poci" id="poci" value="poci" checked="checked"/>Poci
                                    } else {
                                    <input type="checkbox" name="poci" id="poci" value="poci"/>Poci
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Hoemorrhagic Stroke
                                </td>
                                <td>
                                    <select name="hoemorrhagicStroke" id="hoemorrhagicStroke">
                                        @if(d != null && d.getHoemorrhagicStroke() != null && d.getHoemorrhagicStroke().name().toUpperCase() == "NO") {
                                        <option value="Yes">Yes</option>
                                        <option value="No" selected="selected">No</option>
                                        } else {
                                        <option value="Yes" selected="selected">Yes</option>
                                        <option value="No">No</option>
                                        }
                                    </select>

                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Venous Sinus Thrombosis
                                </td>
                                <td>
                                    <select name="venousSinusThrombosis" id="venousSinusThrombosis">
                                        @if(d != null && d.getVenousSinusThrombosis() != null && d.getVenousSinusThrombosis().name().toUpperCase() == "NO") {
                                        <option value="Yes">Yes</option>
                                        <option value="No" selected="selected">No</option>
                                        } else {
                                        <option value="Yes" selected="selected">Yes</option>
                                        <option value="No">No</option>
                                        }
                                    </select>
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    TIA
                                </td>
                                <td>
                                    <select name="tia" id="tia">
                                        @if(d != null && d.getTia() != null && d.getTia().name().toUpperCase() == "NO") {
                                        <option value="Yes">Yes</option>
                                        <option value="No" selected="selected">No</option>
                                        } else {
                                        <option value="Yes" selected="selected">Yes</option>
                                        <option value="No">No</option>
                                        }
                                    </select>
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    AVM
                                </td>
                                <td>
                                    <select name="avm" id="avm">
                                        @if(d != null && d.getAvm() != null && d.getAvm().name().toUpperCase() == "NO") {
                                        <option value="Yes">Yes</option>
                                        <option value="No" selected="selected">No</option>
                                        } else {
                                        <option value="Yes" selected="selected">Yes</option>
                                        <option value="No">No</option>
                                        }
                                    </select>
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Aneurysm
                                </td>
                                <td>
                                    <select name="aneurysm" id="aneurysm">
                                        @if(d != null && d.getAneurysm() != null && d.getAneurysm().name().toUpperCase() == "NO") {
                                        <option value="Yes">Yes</option>
                                        <option value="No" selected="selected">No</option>
                                        } else {
                                        <option value="Yes" selected="selected">Yes</option>
                                        <option value="No">No</option>
                                        }
                                    </select>

                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Subarachnoid
                                </td>
                                <td>
                                    <select name="subaranchoid" id="subaranchoid">
                                        @if(d != null && d.getSubaranchoid() != null && d.getSubaranchoid().name().toUpperCase() == "NO") {
                                        <option value="Yes">Yes</option>
                                        <option value="No" selected="selected">No</option>
                                        } else {
                                        <option value="Yes" selected="selected">Yes</option>
                                        <option value="No">No</option>
                                        }
                                    </select>

                                </td>
                                <td>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">Patient’s Past history</td>
                    <td>Select, if new diagnosis at this admission</td>
                </tr>
                <tr>
                    <td>Hypertension</td>
                    @if(d != null && d.getHypertension() != null && d.getHypertension().name().toUpperCase() == "YES") {
                    <td colspan="2">
                        <input type="radio" name="hypertension" value="Yes" required="required" checked="checked"/>Yes
                        <input type="radio" name="hypertension" value="No" required="required"/>No
                        <input type="radio" name="hypertension" value="Dont_Know" required="required"/>Don't Know
                    </td>
                    <td><input type="radio" name="hypertension" value="New" required="required"/>New</td>
                    }
                    @if(d != null && d.getHypertension() != null && d.getHypertension().name().toUpperCase() == "NO") {
                    <td colspan="2">
                        <input type="radio" name="hypertension" value="Yes" required="required"/>Yes
                        <input type="radio" name="hypertension" value="No" required="required" checked="checked"/>No
                        <input type="radio" name="hypertension" value="Dont_Know" required="required"/>Don't Know
                    </td>
                    <td><input type="radio" name="hypertension" value="New" required="required"/>New</td>
                    }
                    @if(d != null && d.getHypertension() != null && d.getHypertension().name().toUpperCase() == "DONT_KNOW") {
                    <td colspan="2">
                        <input type="radio" name="hypertension" value="Yes" required="required"/>Yes
                        <input type="radio" name="hypertension" value="No" required="required"/>No
                        <input type="radio" name="hypertension" value="Dont_Know" required="required" checked="checked"/>Don't Know
                    </td>
                    <td><input type="radio" name="hypertension" value="New" required="required"/>New</td>
                    }
                    @if(d != null && d.getHypertension() != null && d.getHypertension().name().toUpperCase() == "NEW") {
                    <td colspan="2">
                        <input type="radio" name="hypertension" value="Yes" required="required"/>Yes
                        <input type="radio" name="hypertension" value="No" required="required"/>No
                        <input type="radio" name="hypertension" value="Dont_Know" required="required"/>Don't Know
                    </td>
                    <td><input type="radio" name="hypertension" value="New" required="required" checked="checked"/>New</td>
                    }
                </tr>
                <tr>
                    <td>Diabetes Mellitus</td>
                    @if(d != null && d.getDiabetesMellitus() != null && d.getDiabetesMellitus().name().toUpperCase() == "YES") {
                    <td colspan="2">
                        <input type="radio" name="diabetesMellitus" value="Yes" required="required" checked="checked"/>Yes
                        <input type="radio" name="diabetesMellitus" value="No" required="required"/>No
                        <input type="radio" name="diabetesMellitus" value="Dont_Know" required="required"/>Don't Know
                    </td>
                    <td><input type="radio" name="diabetesMellitus" value="New" required="required"/>New</td>
                    }
                    @if(d != null && d.getDiabetesMellitus() != null && d.getDiabetesMellitus().name().toUpperCase() == "NO") {
                    <td colspan="2">
                        <input type="radio" name="diabetesMellitus" value="Yes" required="required"/>Yes
                        <input type="radio" name="diabetesMellitus" value="No" required="required" checked="checked"/>No
                        <input type="radio" name="diabetesMellitus" value="Dont_Know" required="required"/>Don't Know
                    </td>
                    <td><input type="radio" name="diabetesMellitus" value="New" required="required"/>New</td>
                    }
                    @if(d != null && d.getDiabetesMellitus() != null && d.getDiabetesMellitus().name().toUpperCase() == "DONT_KNOW") {
                    <td colspan="2">
                        <input type="radio" name="diabetesMellitus" value="Yes" required="required"/>Yes
                        <input type="radio" name="diabetesMellitus" value="No" required="required"/>No
                        <input type="radio" name="diabetesMellitus" value="Dont_Know" required="required" checked="checked"/>Don't Know
                    </td>
                    <td><input type="radio" name="diabetesMellitus" value="New" required="required"/>New</td>
                    }
                    @if(d != null && d.getDiabetesMellitus() != null && d.getDiabetesMellitus().name().toUpperCase() == "NEW") {
                    <td colspan="2">
                        <input type="radio" name="diabetesMellitus" value="Yes" required="required"/>Yes
                        <input type="radio" name="diabetesMellitus" value="No" required="required"/>No
                        <input type="radio" name="diabetesMellitus" value="Dont_Know" required="required"/>Don't Know
                    </td>
                    <td><input type="radio" name="diabetesMellitus" value="New" required="required" checked="checked"/>New</td>
                    }
                </tr>
                <tr>
                    <td>IHD/Angina</td>
                    @if(d != null && d.getIhdAngina() != null && d.getIhdAngina().name().toUpperCase() == "YES") {
                    <td colspan="2">
                        <input type="radio" name="ihdAngina" value="Yes" required="required" checked="checked"/>Yes
                        <input type="radio" name="ihdAngina" value="No" required="required"/>No
                        <input type="radio" name="ihdAngina" value="Dont_Know" required="required"/>Don't Know
                    </td>
                    <td><input type="radio" name="ihdAngina" value="New" required="required"/>New</td>
                    }
                    @if(d != null && d.getIhdAngina() != null && d.getIhdAngina().name().toUpperCase() == "NO") {
                    <td colspan="2">
                        <input type="radio" name="ihdAngina" value="Yes" required="required"/>Yes
                        <input type="radio" name="ihdAngina" value="No" required="required" checked="checked"/>No
                        <input type="radio" name="ihdAngina" value="Dont_Know" required="required"/>Don't Know
                    </td>
                    <td><input type="radio" name="ihdAngina" value="New" required="required"/>New</td>
                    }
                    @if(d != null && d.getIhdAngina() != null && d.getIhdAngina().name().toUpperCase() == "DONT_KNOW") {
                    <td colspan="2">
                        <input type="radio" name="ihdAngina" value="Yes" required="required"/>Yes
                        <input type="radio" name="ihdAngina" value="No" required="required"/>No
                        <input type="radio" name="ihdAngina" value="Dont_Know" required="required" checked="checked"/>Don't Know
                    </td>
                    <td><input type="radio" name="ihdAngina" value="New" required="required"/>New</td>
                    }
                    @if(d != null && d.getIhdAngina() != null && d.getIhdAngina().name().toUpperCase() == "NEW") {
                    <td colspan="2">
                        <input type="radio" name="ihdAngina" value="Yes" required="required"/>Yes
                        <input type="radio" name="ihdAngina" value="No" required="required"/>No
                        <input type="radio" name="ihdAngina" value="Dont_Know" required="required"/>Don't Know
                    </td>
                    <td><input type="radio" name="ihdAngina" value="New" required="required" checked="checked"/>New</td>
                    }
                </tr>
                <tr>
                    <td>Hypercholesterolemia</td>
                    @if(d != null && d.getHypercholesterolemia() != null && d.getHypercholesterolemia().name().toUpperCase() == "YES") {
                    <td colspan="2">
                        <input type="radio" name="hypercholesterolemia" value="Yes" required="required" checked="checked"/>Yes
                        <input type="radio" name="hypercholesterolemia" value="No"/>No
                        <input type="radio" name="hypercholesterolemia" value="Dont_Know"/>Don't Know
                    </td>
                    <td><input type="radio" name="hypercholesterolemia" value="New"/>New</td>
                    }
                    @if(d != null && d.getHypercholesterolemia() != null && d.getHypercholesterolemia().name().toUpperCase() == "NO") {
                    <td colspan="2">
                        <input type="radio" name="hypercholesterolemia" value="Yes" required="required"/>Yes
                        <input type="radio" name="hypercholesterolemia" value="No"checked="checked"/>No
                        <input type="radio" name="hypercholesterolemia" value="Dont_Know"/>Don't Know
                    </td>
                    <td><input type="radio" name="hypercholesterolemia" value="New"/>New</td>
                    }
                    @if(d != null && d.getHypercholesterolemia() != null && d.getHypercholesterolemia().name().toUpperCase() == "DONT_KNOW") {
                    <td colspan="2">
                        <input type="radio" name="hypercholesterolemia" value="Yes"/>Yes
                        <input type="radio" name="hypercholesterolemia" value="No"/>No
                        <input type="radio" name="hypercholesterolemia" value="Dont_Know" checked="checked"/>Don't Know
                    </td>
                    <td><input type="radio" name="hypercholesterolemia" value="New"/>New</td>
                    }
                    @if(d != null && d.getHypercholesterolemia() != null && d.getHypercholesterolemia().name().toUpperCase() == "NEW") {
                    <td colspan="2">
                        <input type="radio" name="hypercholesterolemia" value="Yes" required="required"/>Yes
                        <input type="radio" name="hypercholesterolemia" value="No"/>No
                        <input type="radio" name="hypercholesterolemia" value="Dont_Know"/>Don't Know
                    </td>
                    <td><input type="radio" name="hypercholesterolemia" value="New" checked="checked"/>New</td>
                    }
                </tr>
                <tr>
                    <td>Atrial Fibrillation</td>
                    @if(d != null && d.getAtrialFibrillation() != null && d.getAtrialFibrillation().name().toUpperCase() == "YES") {
                    <td colspan="2">
                        <input type="radio" name="atrialFibrillation" value="Yes" required="required" checked="checked"/>Yes
                        <input type="radio" name="atrialFibrillation" value="No"/>No
                        <input type="radio" name="atrialFibrillation" value="Dont_Know"/>Don't Know
                    </td>
                    <td><input type="radio" name="atrialFibrillation" value="New"/>New</td>
                    }
                    @if(d != null && d.getAtrialFibrillation() != null && d.getAtrialFibrillation().name().toUpperCase() == "NO") {
                    <td colspan="2">
                        <input type="radio" name="atrialFibrillation" value="Yes" required="required"/>Yes
                        <input type="radio" name="atrialFibrillation" value="No" checked="checked"/>No
                        <input type="radio" name="atrialFibrillation" value="Dont_Know"/>Don't Know
                    </td>
                    <td><input type="radio" name="atrialFibrillation" value="New"/>New</td>
                    }
                    @if(d != null && d.getAtrialFibrillation() != null && d.getAtrialFibrillation().name().toUpperCase() == "DONT_KNOW") {
                    <td colspan="2">
                        <input type="radio" name="atrialFibrillation" value="Yes" required="required"/>Yes
                        <input type="radio" name=checkbox"atrialFibrillation" value="No"/>No
                        <input type="radio" name="atrialFibrillation" value="Dont_Know" checked="checked"/>Don't Know
                    </td>
                    <td><input type="radio" name="atrialFibrillation" value="New" />New</td>
                    }
                    @if(d != null && d.getAtrialFibrillation() != null && d.getAtrialFibrillation().name().toUpperCase() == "NEW") {
                    <td colspan="2">
                        <input type="radio" name="atrialFibrillation" value="Yes" required="required"/>Yes
                        <input type="radio" name="atrialFibrillation" value="No"/>No
                        <input type="radio" name="atrialFibrillation" value="Dont_Know"/>Don't Know
                    </td>
                    <td><input type="radio" name="atrialFibrillation" value="New" checked="checked"/>New</td>
                    }
                </tr>
                <tr>
                    <td>PVD</td>
                    @if(d != null && d.getPvd() != null && d.getPvd().name().toUpperCase() == "YES") {
                    <td colspan="2">
                        <input type="radio" name="pvd" value="Yes" required="required" checked="checked"/>Yes
                        <input type="radio" name="pvd" value="No"/>No
                        <input type="radio" name="pvd" value="Dont_Know"/>Don't Know
                    </td>
                    <td><input type="radio" name="pvd" value="New"/>New</td>
                    }
                    @if(d != null && d.getPvd() != null && d.getPvd().name().toUpperCase() == "NO") {
                    <td colspan="2">
                        <input type="radio" name="pvd" value="Yes" required="required"/>Yes
                        <input type="radio" name="pvd" value="No" checked="checked"/>No
                        <input type="radio" name="pvd" value="Dont_Know"/>Don't Know
                    </td>
                    <td><input type="radio" name="pvd" value="New"/>New</td>
                    }
                    @if(d != null && d.getPvd() != null && d.getPvd().name().toUpperCase() == "DONT_KNOW") {
                    <td colspan="2">
                        <input type="radio" name="pvd" value="Yes" required="required"/>Yes
                        <input type="radio" name="pvd" value="No"/>No
                        <input type="radio" name="pvd" value="Dont_Know" checked="checked"/>Don't Know
                    </td>
                    <td><input type="radio" name="pvd" value="New"/>New</td>
                    }
                    @if(d != null && d.getPvd() != null && d.getPvd().name().toUpperCase() == "NEW") {
                    <td colspan="2">
                        <input type="radio" name="pvd" value="Yes" required="required"/>Yes
                        <input type="radio" name="pvd" value="No"/>No
                        <input type="radio" name="pvd" value="Dont_Know"/>Don't Know
                    </td>
                    <td><input type="radio" name="pvd" value="New" checked="checked"/>New</td>
                    }
                </tr>
                <tr>
                    <td>MI</td>
                    @if(d != null && d.getMi() != null && d.getMi().name().toUpperCase() == "YES") {
                    <td colspan="2">
                        <input type="radio" name="mi" value="Yes" required="required" checked="checked"/>Yes
                        <input type="radio" name="mi" value="No"/>No
                        <input type="radio" name="mi" value="Dont_Know"/>Don't Know
                    </td>
                    <td><input type="radio" name="mi" value="New"/>New</td>
                    }
                    @if(d != null && d.getMi() != null && d.getMi().name().toUpperCase() == "NO") {
                    <td colspan="2">
                        <input type="radio" name="mi" value="Yes" required="required"/>Yes
                        <input type="radio" name="mi" value="No" checked="checked"/>No
                        <input type="radio" name="mi" value="Dont_Know"/>Don't Know
                    </td>
                    <td><input type="radio" name="mi" value="New"/>New</td>
                    }
                    @if(d != null && d.getMi() != null && d.getMi().name().toUpperCase() == "DONT_KNOW") {
                    <td colspan="2">
                        <input type="radio" name="mi" value="Yes" required="required"/>Yes
                        <input type="radio" name="mi" value="No"/>No
                        <input type="radio" name="mi" value="Dont_Know" checked="checked"/>Don't Know
                    </td>
                    <td><input type="radio" name="mi" value="New"/>New</td>
                    }
                    @if(d != null && d.getMi() != null && d.getMi().name().toUpperCase() == "NEW") {
                    <td colspan="2">
                        <input type="radio" name="mi" value="Yes" required="required"/>Yes
                        <input type="radio" name="mi" value="No"/>No
                        <input type="radio" name="mi" value="Dont_Know"/>Don't Know
                    </td>
                    <td><input type="radio" name="mi" value="New" checked="checked"/>New</td>
                    }
                </tr>
                <tr>
                    <td>Migraine with aura</td>
                    @if(d != null && d.getMigraineWithAura() != null && d.getMigraineWithAura().name().toUpperCase() == "YES") {
                    <td colspan="2">
                        <input type="radio" name="migraineWithAura" value="Yes" required="required" checked="checked"/>Yes
                        <input type="radio" name="migraineWithAura" value="No"/>No
                        <input type="radio" name="migraineWithAura" value="Dont_Know"/>Don't Know
                    </td>
                    <td><input type="radio" name="migraineWithAura" value="New"/>New</td>
                    }
                    @if(d != null && d.getMigraineWithAura() != null && d.getMigraineWithAura().name().toUpperCase() == "NO") {
                    <td colspan="2">
                        <input type="radio" name="migraineWithAura" value="Yes" required="required"/>Yes
                        <input type="radio" name="migraineWithAura" value="No" checked="checked"/>No
                        <input type="radio" name="migraineWithAura" value="Dont_Know"/>Don't Know
                    </td>
                    <td><input type="radio" name="migraineWithAura" value="New"/>New</td>
                    }
                    @if(d != null && d.getMigraineWithAura() != null && d.getMigraineWithAura().name().toUpperCase() == "DONT_KNOW") {
                    <td colspan="2">
                        <input type="radio" name="migraineWithAura" value="Yes" required="required"/>Yes
                        <input type="radio" name="migraineWithAura" value="No"/>No
                        <input type="radio" name="migraineWithAura" value="Dont_Know" checked="checked"/>Don't Know
                    </td>
                    <td><input type="radio" name="migraineWithAura" value="New" />New</td>
                    }
                    @if(d != null && d.getMigraineWithAura() != null && d.getMigraineWithAura().name().toUpperCase() == "NEW") {
                    <td colspan="2">
                        <input type="radio" name="migraineWithAura" value="Yes" required="required"/>Yes
                        <input type="radio" name="migraineWithAura" value="No" />No
                        <input type="radio" name="migraineWithAura" value="Dont_Know"/>Don't Know
                    </td>
                    <td><input type="radio" name="migraineWithAura" value="New" checked="checked"/>New</td>
                    }
                </tr>
                <tr>
                    <td>Migraine without aura</td>
                    @if(d != null && d.getMigraineWithoutAura() != null && d.getMigraineWithoutAura().name().toUpperCase() == "YES") {
                    <td colspan="2">
                        <input type="radio" name="migraineWithoutAura" value="Yes" required="required" checked="checked"/>Yes
                        <input type="radio" name="migraineWithoutAura" value="No"/>No
                        <input type="radio" name="migraineWithoutAura" value="Dont_Know"/>Don't Know
                    </td>
                    <td><input type="radio" name="migraineWithoutAura" value="New"/>New</td>
                    }
                    @if(d != null && d.getMigraineWithoutAura() != null && d.getMigraineWithoutAura().name().toUpperCase() == "NO") {
                    <td colspan="2">
                        <input type="radio" name="migraineWithoutAura" value="Yes" required="required"/>Yes
                        <input type="radio" name="migraineWithoutAura" value="No" checked="checked"/>No
                        <input type="radio" name="migraineWithoutAura" value="Dont_Know" />Don't Know
                    </td>
                    <td><input type="radio" name="migraineWithoutAura" value="New" />New</td>
                    }
                    @if(d != null && d.getMigraineWithoutAura() != null && d.getMigraineWithoutAura().name().toUpperCase() == "DONT_KNOW") {
                    <td colspan="2">
                        <input type="radio" name="migraineWithoutAura" value="Yes" required="required"/>Yes
                        <input type="radio" name="migraineWithoutAura" value="No" />No
                        <input type="radio" name="migraineWithoutAura" value="Dont_Know" checked="checked"/>Don't Know
                    </td>
                    <td><input type="radio" name="migraineWithoutAura" value="New" />New</td>
                    }
                    @if(d != null && d.getMigraineWithoutAura() != null && d.getMigraineWithoutAura().name().toUpperCase() == "NEW") {
                    <td colspan="2">
                        <input type="radio" name="migraineWithoutAura" value="Yes" required="required"/>Yes
                        <input type="radio" name="migraineWithoutAura" value="No" />No
                        <input type="radio" name="migraineWithoutAura" value="Dont_Know" />Don't Know
                    </td>
                    <td><input type="radio" name="migraineWithoutAura" value="New" checked="checked"/>New</td>
                    }
                </tr>

                <tr>
                    <td rowspan="3">Patient’s previous
                        Strokes
                    </td>
                    <td>
                        Ischaemic Stroke
                    </td>
                    <td >
                        @if(d != null && d.getIschaemicStroke() != null && d.getIschaemicStroke().name().toUpperCase() == "YES") {
                        <input type="radio" name="ischaemicStroke" value="Yes" required="required" checked="checked"/>Yes
                        <input type="radio" name="ischaemicStroke" value="No" />No
                        } else {
                        <input type="radio" name="ischaemicStroke" value="Yes" required="required"/>Yes
                        <input type="radio" name="ischaemicStroke" value="No" checked="checked"/>No
                        }
                    </td>
                    <td rowspan="3">When <input type="text" name="patientPreviousStroke" id="patientPreviousStroke" style="width: 80px;"/>(year)</td>
                </tr>
                 <tr>
                     <td>
                         Hoemorrhagic Stroke
                     </td>
                     <td >
                         @if(d != null && d.getHoemorrhagicStroke() != null && d.getHoemorrhagicStroke().name().toUpperCase() == "YES") {
                         <input type="radio" name="hoemorrhagicStroke" value="Yes" required="required" checked="checked"/>Yes
                         <input type="radio" name="hoemorrhagicStroke" value="No" required="required"/>No
                         } else {
                         <input type="radio" name="hoemorrhagicStroke" value="Yes" required="required"/>Yes
                         <input type="radio" name="hoemorrhagicStroke" value="No" required="required" checked="checked"/>No
                         }
                     </td>
                 </tr>
                <tr>
                    <td>
                        TIA
                    </td>
                    <td >
                        @if(d != null && d.getTia() != null && d.getTia().name().toUpperCase() == "YES") {
                        <input type="radio" name="tia" value="Yes" required="required" checked="checked"/>Yes
                        <input type="radio" name="tia" value="No" required="required"/>No
                        } else {
                        <input type="radio" name="tia" value="Yes" required="required"/>Yes
                        <input type="radio" name="tia" value="No" required="required" checked="checked"/>No
                        }
                    </td>
                </tr>

                <tr>
                    <td>Stroke associated with</td>
                    <td>Dissection
                        @if(d != null && d.getStrokeAssociatedWithDissection() != null && d.getStrokeAssociatedWithDissection().name().toUpperCase() == "YES") {
                        <input type="radio" name="strokeAssociatedWithDissection" value="Yes" required="required" checked="checked"/>Yes
                        <input type="radio" name="strokeAssociatedWithDissection" value="No" required="required"/>No
                        } else {
                        <input type="radio" name="strokeAssociatedWithDissection" value="Yes" required="required"/>Yes
                        <input type="radio" name="strokeAssociatedWithDissection" value="No" required="required" checked="checked"/>No
                        }
                    </td>
                    <td>PFO
                        @if(d != null && d.getStrokeAssociatedWithPfo() != null && d.getStrokeAssociatedWithPfo().name().toUpperCase() == "YES") {
                        <input type="radio" name="strokeAssociatedWithPfo" value="Yes" required="required" checked="checked"/>Yes
                        <input type="radio" name="strokeAssociatedWithPfo" value="No" required="required"/>No
                        } else {
                        <input type="radio" name="strokeAssociatedWithPfo" value="Yes" required="required"/>Yes
                        <input type="radio" name="strokeAssociatedWithPfo" value="No" required="required" checked="checked"/>No
                        }
                    </td>
                    <td> MI
                        @if(d != null && d.getStrokeAssociatedWithMi() != null && d.getStrokeAssociatedWithMi().name().toUpperCase() == "YES") {
                        <input type="radio" name="strokeAssociatedWithMi" value="Yes" required="required" checked="checked"/>Yes
                        <input type="radio" name="strokeAssociatedWithMi" value="No" required="required"/>No
                        } else {
                        <input type="radio" name="strokeAssociatedWithMi" value="Yes" required="required"/>Yes
                        <input type="radio" name="strokeAssociatedWithMi" value="No" required="required" checked="checked"/>No
                        }
                    </td>
                </tr>
                <tr>
                    <td rowspan="7">Patient’s
                        Family
                        History:
                    </td>
                    <td>Stroke</td>
                    @if(d != null && d.getFamilyStroke() != null && d.getFamilyStroke().name().toUpperCase() == "YES") {
                    <td colspan="2">
                        <input type="radio" name="familyStroke" value="Yes" required="required" checked="checked"/>Yes
                        <input type="radio" name="familyStroke" value="No" required="required"/>No
                        <input type="radio" name="familyStroke" value="Dont_Know" required="required"/>Don't Know
                    </td>
                    }
                    @if(d != null && d.getFamilyStroke() != null && d.getFamilyStroke().name().toUpperCase() == "NO") {
                    <td colspan="2">
                        <input type="radio" name="familyStroke" value="Yes" required="required"/>Yes
                        <input type="radio" name="familyStroke" value="No" required="required" checked="checked"/>No
                        <input type="radio" name="familyStroke" value="Dont_Know" required="required"/>Don't Know
                    </td>
                    }
                    @if(d != null && d.getFamilyStroke() != null && d.getFamilyStroke().name().toUpperCase() == "DONT_KNOW") {
                    <td colspan="2">
                        <input type="radio" name="familyStroke" value="Yes" required="required"/>Yes
                        <input type="radio" name="familyStroke" value="No" required="required"/>No
                        <input type="radio" name="familyStroke" value="Dont_Know" required="required" checked="checked"/>Don't Know
                    </td>
                    }
                </tr>
                <tr>
                    <td>IHD/Angina  </td>
                    @if(d != null && d.getFamilyIhdAngina() != null && d.getFamilyIhdAngina().name().toUpperCase() == "YES") {
                    <td colspan="2">
                        <input type="radio" name="familyIhdAngina" value="Yes" required="required" checked="checked"/>Yes
                        <input type="radio" name="familyIhdAngina" value="No" required="required"/>No
                        <input type="radio" name="familyIhdAngina" value="Dont_Know" required="required"/>Don't Know
                    </td>
                    }
                    @if(d != null && d.getFamilyIhdAngina() != null && d.getFamilyIhdAngina().name().toUpperCase() == "NO") {
                    <td colspan="2">
                        <input type="radio" name="familyIhdAngina" value="Yes" required="required"/>Yes
                        <input type="radio" name="familyIhdAngina" value="No" required="required" checked="checked"/>No
                        <input type="radio" name="familyIhdAngina" value="Dont_Know" required="required"/>Don't Know
                    </td>
                    }
                    @if(d != null && d.getFamilyIhdAngina() != null && d.getFamilyIhdAngina().name().toUpperCase() == "DONT_KNOW") {
                    <td colspan="2">
                        <input type="radio" name="familyIhdAngina" value="Yes" required="required"/>Yes
                        <input type="radio" name="familyIhdAngina" value="No" required="required"/>No
                        <input type="radio" name="familyIhdAngina" value="Dont_Know" required="required" checked="checked"/>Don't Know
                    </td>
                    }
                </tr>
                <tr>
                    <td>Diabetes Mellitus </td>
                    @if(d != null && d.getFamilyDiabetesMellitus() != null && d.getFamilyDiabetesMellitus().name().toUpperCase() == "YES") {
                    <td colspan="2">
                        <input type="radio" name="familyDiabetesMellitus" value="Yes" required="required" checked="checked"/>Yes
                        <input type="radio" name="familyDiabetesMellitus" value="No" required="required"/>No
                        <input type="radio" name="familyDiabetesMellitus" value="Dont_Know" required="required"/>Don't Know
                    </td>
                    }
                    @if(d != null && d.getFamilyDiabetesMellitus() != null && d.getFamilyDiabetesMellitus().name().toUpperCase() == "NO") {
                    <td colspan="2">
                        <input type="radio" name="familyDiabetesMellitus" value="Yes" required="required"/>Yes
                        <input type="radio" name="familyDiabetesMellitus" value="No" required="required" checked="checked"/>No
                        <input type="radio" name="familyDiabetesMellitus" value="Dont_Know" required="required"/>Don't Know
                    </td>
                    }
                    @if(d != null && d.getFamilyDiabetesMellitus() != null && d.getFamilyDiabetesMellitus().name().toUpperCase() == "DONT_KNOW") {
                    <td colspan="2">
                        <input type="radio" name="familyDiabetesMellitus" value="Yes" required="required"/>Yes
                        <input type="radio" name="familyDiabetesMellitus" value="No" required="required"/>No
                        <input type="radio" name="familyDiabetesMellitus" value="Dont_Know" required="required" checked="checked"/>Don't Know
                    </td>
                    }
                </tr>
                <tr>
                    <td>MI</td>
                    @if(d != null && d.getFamilyMi() != null && d.getFamilyMi().name().toUpperCase() == "YES") {
                    <td colspan="2">
                        <input type="radio" name="familyMi" value="Yes" required="required" checked="checked"/>Yes
                        <input type="radio" name="familyMi" value="No" required="required"/>No
                        <input type="radio" name="familyMi" value="Dont_Know" required="required"/>Don't Know
                    </td>
                    }
                    @if(d != null && d.getFamilyMi() != null && d.getFamilyMi().name().toUpperCase() == "NO") {
                    <td colspan="2">
                        <input type="radio" name="familyMi" value="Yes" required="required"/>Yes
                        <input type="radio" name="familyMi" value="No" required="required" checked="checked"/>No
                        <input type="radio" name="familyMi" value="Dont_Know" required="required"/>Don't Know
                    </td>
                    }
                    @if(d != null && d.getFamilyMi() != null && d.getFamilyMi().name().toUpperCase() == "DONT_KNOW") {
                    <td colspan="2">
                        <input type="radio" name="familyMi" value="Yes" required="required"/>Yes
                        <input type="radio" name="familyMi" value="No" required="required"/>No
                        <input type="radio" name="familyMi" value="Dont_Know" required="required" checked="checked"/>Don't Know
                    </td>
                    }
                </tr>
                <tr>
                    <td>PVD</td>
                    @if(d != null && d.getFamilyPvd() != null && d.getFamilyPvd().name().toUpperCase() == "YES") {
                    <td colspan="2">
                        <input type="radio" name="familyPvd" value="Yes" required="required" checked="checked"/>Yes
                        <input type="radio" name="familyPvd" value="No" required="required"/>No
                        <input type="radio" name="familyPvd" value="Dont_Know" required="required"/>Don't Know
                    </td>
                    }
                    @if(d != null && d.getFamilyPvd() != null && d.getFamilyPvd().name().toUpperCase() == "NO") {
                    <td colspan="2">
                        <input type="radio" name="familyPvd" value="Yes" required="required"/>Yes
                        <input type="radio" name="familyPvd" value="No" required="required" checked="checked"/>No
                        <input type="radio" name="familyPvd" value="Dont_Know" required="required"/>Don't Know
                    </td>
                    }
                    @if(d != null && d.getFamilyPvd() != null && d.getFamilyPvd().name().toUpperCase() == "DONT_KNOW") {
                    <td colspan="2">
                        <input type="radio" name="familyPvd" value="Yes" required="required"/>Yes
                        <input type="radio" name="familyPvd" value="No" required="required"/>No
                        <input type="radio" name="familyPvd" value="Dont_Know" required="required" checked="checked"/>Don't Know
                    </td>
                    }
                </tr>
                <tr>
                    <td>Hypertension</td>
                    @if(d != null && d.getFamilyHypertension() != null && d.getFamilyHypertension().name().toUpperCase() == "YES") {
                    <td colspan="2">
                        <input type="radio" name="familyHypertension" value="Yes" required="required" checked="checked"/>Yes
                        <input type="radio" name="familyHypertension" value="No" required="required"/>No
                        <input type="radio" name="familyHypertension" value="Dont_Know" required="required"/>Don't Know
                    </td>
                    }
                    @if(d != null && d.getFamilyHypertension() != null && d.getFamilyHypertension().name().toUpperCase() == "NO") {
                    <td colspan="2">
                        <input type="radio" name="familyHypertension" value="Yes" required="required"/>Yes
                        <input type="radio" name="familyHypertension" value="No" required="required" checked="checked"/>No
                        <input type="radio" name="familyHypertension" value="Dont_Know" required="required"/>Don't Know
                    </td>
                    }
                    @if(d != null && d.getFamilyHypertension() != null && d.getFamilyHypertension().name().toUpperCase() == "DONT_KNOW") {
                    <td colspan="2">
                        <input type="radio" name="familyHypertension" value="Yes" required="required"/>Yes
                        <input type="radio" name="familyHypertension" value="No" required="required"/>No
                        <input type="radio" name="familyHypertension" value="Dont_Know" required="required" checked="checked"/>Don't Know
                    </td>
                    }
                </tr>
                <tr>
                    <td>None of above</td>
                    @if(d != null && d.getFamilyNoneOfTheAbove() != null && d.getFamilyNoneOfTheAbove().name().toUpperCase() == "YES") {
                    <td colspan="2">
                        <input type="radio" name="familyNoneOfTheAbove" value="Yes" required="required" checked="checked"/>Yes
                        <input type="radio" name="familyNoneOfTheAbove" value="No" required="required"/>No
                        <input type="radio" name="familyNoneOfTheAbove" value="Dont_Know" required="required"/>Don't Know
                    </td>
                    }
                    @if(d != null && d.getFamilyNoneOfTheAbove() != null && d.getFamilyNoneOfTheAbove().name().toUpperCase() == "NO") {
                    <td colspan="2">
                        <input type="radio" name="familyNoneOfTheAbove" value="Yes" required="required"/>Yes
                        <input type="radio" name="familyNoneOfTheAbove" value="No" required="required" checked="checked"/>No
                        <input type="radio" name="familyNoneOfTheAbove" value="Dont_Know" required="required"/>Don't Know
                    </td>
                    }
                    @if(d != null && d.getFamilyNoneOfTheAbove() != null && d.getFamilyNoneOfTheAbove().name().toUpperCase() == "DONT_KNOW") {
                    <td colspan="2">
                        <input type="radio" name="familyNoneOfTheAbove" value="Yes" required="required"/>Yes
                        <input type="radio" name="familyNoneOfTheAbove" value="No" required="required"/>No
                        <input type="radio" name="familyNoneOfTheAbove" value="Dont_Know" required="required" checked="checked"/>Don't Know
                    </td>
                    }
                </tr>

                <tr>
                    <td rowspan="2">Cigarettes</td>
                    @if(d != null && d.getCurrentSmoker() != null && d.getCurrentSmoker().name().toUpperCase() == "YES") {
                    <td>Current Smoker <input type="checkbox" name="currentSmoker" id="currentSmoker" value="currentSmoker" checked="checked"/></td>
                    } else {
                    <td>Current Smoker <input type="checkbox" name="currentSmoker" id="currentSmoker" value="currentSmoker"/></td>
                    }
                    @if(d != null && d.getCigarettePerDay() != null) {
                    <td>Cig/day <input type="text" name="cigarettePerDay" id="cigarettePerDay" style="width: 80px;" value="@d.getCigarettePerDay()"/></td>
                    } else {
                    <td>Cig/day <input type="text" name="cigarettePerDay" id="cigarettePerDay" style="width: 80px;" value=""/></td>
                    }
                    <td>Hip:<input type="text" name="hip" id="hip" style="width: 80px;" value="@d.getHip()"/>cm</td>
                </tr>
                <tr>
                    @if(d != null && d.getExSmoker() != null && d.getExSmoker().name().toUpperCase() == "YES") {
                    <td>Ex-smoker <input type="checkbox" name="exSmoker" id="exSmoker" value="exSmoker" checked="checked"/></td>
                    } else {
                    <td>Ex-smoker <input type="checkbox" name="exSmoker" id="exSmoker" value="exSmoker"/></td>
                    }
                    @if(d != null && d.getNever() != null && d.getNever().name().toUpperCase() == "YES") {
                    <td>Never <input type="checkbox" name="never" id="never" value="never" checked="checked"/></td>
                    } else {
                    <td>Never <input type="checkbox" name="never" id="never" value="never"/></td>
                    }
                    <td>Waist:<input type="text" name="waist" id="waist" style="width: 80px;" value="@d.getWaist()"/>cm</td>
                </tr>
                <tr>
                    <td colspan="4"><button id="save" name="save">Next</button></a></td>
                </tr>
                </table>
            </form>
        </div>
    </div>
    <!-- <div class="hr grid_12 clearfix">&nbsp;</div>-->
    <!-- Footer -->
    @footer()
</div>
} {
<script type="text/javascript" src="@routes.Assets.at("javascripts/form/events.js")"></script>
}