@(title: String, emailData: models.actor.mailer.Mail)

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Email</title>
</head>

<body style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#4e4e4e">
<div style="background-color:#7FB547; width:600px; height:6px">
</div>
<div style="background-color:#e9e9e9; width:600px; padding: 28px 0px 0px 0px;">

    <table style="background-color:#FFFFFF; width:561px; padding: 26px 12px 11px 16px; border:solid; border-
width:1px; border-color:#d2d2d2; border-radius: 4px; box-shadow: 0px 1px 0px 0px #d2d2d2;" align="center">
        <tr>
            <td><img src='@emailData.getLogoUri()' /></td>
            <td align="right"><img src='@emailData.getTagUri()' /></td>
        </tr>
    </table>


    <table height="34"><tr><td></td></tr></table>



    <table style="background-color:#FFFFFF; width:561px; padding: 10px 12px 11px 16px; border-top:solid; border-top-
width:1px; border-top-color:#d2d2d2; border-left:solid; border-left-width:1px; border-left-color:#d2d2d2; border-right:solid; 
border-right-width:1px; border-right-color:#d2d2d2; border-top-left-radius: 4px; border-top-right-radius: 4px;"
           align="center">
        <tr>
            <td>
                <h1 style="font-family:arial; font-size:24px; font-weight: normal; ">Dear @emailData.getdName(),</h1>
                <p>Greetings from Telestroke!</p>
                <p>New Patient Added :</p>
                <p>Name: @emailData.getpName</p>
                <p>Age: @emailData.getpAge</p>
                <p>Gender: @emailData.getpGender</p>

                <p>Assigned By MRI Person :</p>
                <p>Name: @emailData.getmName</P>
                <p>From : @emailData.getmLocation</P>
                <p>Phone: @emailData.getmPhone</P>
                <p>Please verify your new patient and post your comments </p>
                <p>@emailData.getUrl()</p>
                <p>If you need any help, please contact</p>
                <a href="mailto:info&#64;telestroke.in" style="text-decoration:none"><p style="color:#7eb444;line-
height:0px"><u>info&#64;telestroke.in</u></p></a>
            </td>
        </tr>
        <tr align="right">
            <td>
                <p>
                    Best Regards,<br /><br />
                    <strong>Telestroke Team</strong><br />
                    www.telestroke.in
                </p>
            </td>
        </tr>
    </table>
    <center><img src='@emailData.getContentBoxUri()'/></center>
    <table height="34"><tr><td></td></tr></table>

    <table style="width:561px;padding: 10px 0px 10px 0px;" align="center">
        <tr>
            <td>
                <p style="font-size:11px; color:#686868">You are receiving this mailer because you or someone else has used
                    your e-mail ID to register with us. This is a system-generated e-mail, please don't reply to this message. We recommend
                    that you visit our Terms & Conditions and the Security Advice for more comprehensive information</p>
            </td>
        </tr>
    </table>


</div>


</body>
</html>