@(title: String)(content: Html)(footer: Html)
<html>
    <head>
        <title>ECRF - @title</title>
        <link rel="stylesheet" href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery.ui.all.css'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/styles.css")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/reset.css")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main.css")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/demo.css")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/style1.css")'>
        <link rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/favicon.png")'>

        <!-- Required scripts -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        @footer
    </head>
    <body>
        @content
    </body>
</html>
